@page "/Recruitment/recruitmentrequest"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Recruitment Request</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    <EditForm EditContext="@_editContext"
        OnValidSubmit="HandleValidSubmit" 
        OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                        </li>
                    }
                </ul>
            </MudAlert>
        }
        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }
        <div id="mainPanel" class="ma-0 full-height mt-0 pt-0" style="overflow-y: scroll; scrollbar-width: none;">
            <MudBreadcrumbs Style="font-size: 12px;" Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight" MaxItems="4" Class="mud-primary-text" />
            <MudText Typo="Typo.subtitle1" Align="Align.Start" Class="mt-4 ps-3 fw-bold" Color="Color.Primary">
                Add / Edit Position Description for <strong>@DepartmentName</strong>
            </MudText>
            <MudExpansionPanels Elevation="0" MultiExpansion="true">
                <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="fas fa-briefcase" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                            <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Position Properties</strong></MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudGrid Spacing="0">
                            <MudItem xs="4" sm="4" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.EmploymentType"
                                                     SearchFunc="SearchEmploymentType!"
                                                     Variant="Variant.Text"
                                                     Label="Employment Type"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for employment type"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_employmentTypeList != null ? _employmentTypeList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="4" sm="4" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.QualificationMode"
                                                     SearchFunc="SearchQualificationMode!"
                                                     Variant="Variant.Text"
                                                     Label="Qualification Mode"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for qualification mode"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_qualificationModeList != null ? _qualificationModeList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="4" sm="4" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.PositionType"
                                                     SearchFunc="SearchPositionType!"
                                                     Variant="Variant.Text"
                                                     Label="Position Type"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for position"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_positionTypeList != null ? _positionTypeList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                        <MudGrid Spacing="0">
                            <MudItem xs="4" sm="4" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.InterviewProcess"
                                                     SearchFunc="SearchInterviewProcess!"
                                                     Variant="Variant.Text"
                                                     Label="Interview Process"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for interview process"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_interviewProcessList != null ? _interviewProcessList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="2" sm="2" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudPaper Elevation="0">
                                        <MudText Typo="Typo.caption" Align="Align.Start" Style="color: #004165;">Pre-Assessment</MudText>
                                        <MudPaper Elevation="0" Class="p-0 w-100 d-flex justify-content-start">
                                            <MudSwitch @bind-Value="_recruitmentRequest.IsPreAssessment"  Color="Color.Success" UncheckedColor="Color.Default" LabelPlacement="Placement.Start">Yes/No</MudSwitch>
                                        </MudPaper>                                        
                                    </MudPaper>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudExpansionPanel>         
                <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="fas fa-search" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                            <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Choose Attributes for Planning</strong></MudText>                            
                        </div>
                        <div class="mt-1 ps-5">
                            <MudText Typo="Typo.caption" Style="color: #004165;">Note: Those attributes on which template configuration is done will be mandatory for creating the job description or requisition.</MudText>
                        </div>                        
                    </TitleContent>
                    <ChildContent>
                        <MudGrid Spacing="0">
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudTextField @bind-Value="_recruitmentRequest.Company"
                                            For="@(() => _recruitmentRequest.Company)" Label="Company"
                                            Counter="150" MaxLength="150"
                                            HelperText="Max. text input is 50 chars." Variant="Variant.Text" HelperTextOnFocus="true"
                                            Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true"
                                            Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.DepartmentName"
                                                     SearchFunc="SearchDepartment!"
                                                     Variant="Variant.Text"
                                                     Label="Department"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for department"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_departmentList != null ? _departmentList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.Country"
                                                     SearchFunc="SearchCountry!"
                                                     Variant="Variant.Text"
                                                     Label="Country"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for country"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_countryList != null ? _countryList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.Education"
                                                     SearchFunc="SearchEducationLevel!"
                                                     Variant="Variant.Text"
                                                     Label="Education"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for education"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_educationLevelList != null ? _educationLevelList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                        <MudGrid Spacing="0">
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.EmployeeClass"
                                                     SearchFunc="SearchEmployeeClass!"
                                                     Variant="Variant.Text"
                                                     Label="Employee Class"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for employee class"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_employeeClassList != null ? _employeeClassList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.Ethnicity"
                                                     SearchFunc="SearchEthnicity!"
                                                     Variant="Variant.Text"
                                                     Label="Ethnicity"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for ethnicity"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_ethnicityTypeList != null ? _ethnicityTypeList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.JobTitle"
                                                     SearchFunc="SearchJobTitle!"
                                                     Variant="Variant.Text"
                                                     Label="Job Title"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for job title"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_jobTitleList != null ? _jobTitleList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                            <MudItem xs="3" Class="px-4">
                                <MudPaper Elevation="0" Class="p-0 w-100">
                                    <MudAutocomplete @bind-Value="_recruitmentRequest.PayGradeDesc"
                                                     SearchFunc="SearchPayGrade!"
                                                     Variant="Variant.Text"
                                                     Label="Pay Grade"
                                                     Margin="Margin.Normal"
                                                     Dense="true"
                                                     Placeholder="Please Select"
                                                     HelperText="Type a key to search for pay grade"
                                                     HelperTextOnFocus="true"
                                                     Clearable="true" Typo="Typo.subtitle2"
                                                     MaxItems="@(_payGradeList != null ? _payGradeList.Count : 10)"
                                                     Modal="true" />
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="fas fa-file-alt" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                            <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Position Description</strong></MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudStack Row="true" StretchItems="StretchItems.All" AlignItems="AlignItems.Stretch" Spacing="3" Wrap="Wrap.NoWrap" Class="mb-3">
                            <MudPaper Elevation="0" Class="p-0 w-100">
                                <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-0">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <MudTextField @bind-Value="_recruitmentRequest.JobTitle"
                                                          For="@(() => _recruitmentRequest.JobTitle)" Label="Job Title"
                                                          HelperText="This is field is read-only" Variant="Variant.Filled" HelperTextOnFocus="true"
                                                          Clearable="false" ReadOnly="true" Immediate="true"
                                                          Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                                 <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-0">
                                        <div class="qualification-grid">
                                            <MudDataGrid T="JobQualificationDTO" Items="@_recruitmentRequest.QualificationList" Hover="true" Striped="true"
                                                Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                                                Hideable="true" PageSize="5"
                                                EditTrigger="DataGridEditTrigger.Manual" ReadOnly="false" EditMode="DataGridEditMode.Form"
                                                TableClass="fixed-table" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true">
                                                <ToolBarContent>
                                                    <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                                                        <MudTextField @bind-Value="_searchStringQualification" Placeholder="Enter search string" Adornment="Adornment.Start"
                                                                      Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                                                        </MudTextField>
                                                    </MudPaper>
                                                    <MudSpacer />
                                                    <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                                        <MudSwitch @bind-Value="_enableFilter" Color="Color.Success" UncheckedColor="Color.Default" Style="font-size: 14px;"
                                                                   Label="Enable Custom Filter" LabelPlacement="Placement.Start" />
                                                        <MudPaper Class="ms-3" Elevation="0">
                                                            <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" title="Add new qualification" OnClick="AddQualificationAsync" />
                                                        </MudPaper>
                                                    </MudPaper>
                                                </ToolBarContent>
                                                <Columns>
                                                    <PropertyColumn Property="x => x.AutoId" Hidden Editable="false">
                                                         <EditTemplate Context="row">
                                                             @* Empty to prevent rendering *@
                                                         </EditTemplate>
                                                     </PropertyColumn>
                                                     <PropertyColumn Property="x => x.Qualification" Title="Qualification" Class="col-qualification" />
                                                     <PropertyColumn Property="x => x.Stream" Title="Stream" Class="col-stream" />
                                                     <PropertyColumn Property="x => x.Specialization" Title="Specialization" Class="col-specialization" />
                                                     <PropertyColumn Property="x => x.Remarks" Title="Remarks" Class="col-remarks" />
                                                     <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                                                         <CellTemplate Context="row">
                                                             <MudIconButton Color="Color.Info" title="Edit qualification"
                                                                            Icon="@Icons.Material.Rounded.Edit"
                                                                            OnClick="@(() => EditQualificationAsync(row.Item))">
                                                             </MudIconButton>
                                                             <MudIconButton Color="Color.Error" title="Delete qualification"
                                                                            Icon="@Icons.Material.Rounded.DeleteForever"
                                                                            OnClick="() => DeleteQualification(row.Item)">
                                                             </MudIconButton>
                                                         </CellTemplate>
                                                     </TemplateColumn>
                                                 </Columns>
                                                 <NoRecordsContent>
                                                     <div class="no-data-box">
                                                         <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                                         <span>No data found</span>
                                                     </div>
                                                 </NoRecordsContent>
                                                 <PagerContent>
                                                     <MudDataGridPager T="JobQualificationDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                                                 </PagerContent>
                                             </MudDataGrid>
                                         </div>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                            <MudPaper Elevation="0" Class="p-0 w-100">
                                <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-0">
                                         <MudPaper Elevation="0" Class="p-0 w-100">
                                             <MudTextField @bind-Value="_recruitmentRequest.PositionDescription" Label="Position Description"
                                                           For="@(() => _recruitmentRequest.PositionDescription)"
                                                           HelperText="Type the full job description here"
                                                           Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="1000" MaxLength="1000" Lines="5"
                                                           Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                         </MudPaper>
                                     </MudItem>
                                 </MudGrid>
                                <MudGrid Spacing="0">
                                    <MudItem xs="6" Class="px-4">
                                         <MudPaper Elevation="0" Class="p-0 w-100">
                                             <MudSlider @bind-Value="_recruitmentRequest.TotalWorkExperience" Min="0" Max="50"
                                                Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled">
                                                 Total Work Experience (years): @_recruitmentRequest.TotalWorkExperience.ToString()
                                                </MudSlider>
                                         </MudPaper>
                                     </MudItem>
                                        <MudItem xs="6" Class="px-4">
                                            <MudPaper Elevation="0" Class="p-0 w-100">
                                                <MudSlider @bind-Value="_recruitmentRequest.TotalRelevantExperience" Min="0" Max="25" Color="Color.Info" Size="Size.Medium" ValueLabel="true">
                                                Relevant Experience (years): @_recruitmentRequest.TotalRelevantExperience.ToString()
                                                </MudSlider>
                                            </MudPaper>
                                        </MudItem>
                                 </MudGrid>
                                <MudGrid Spacing="0">
                                    <MudItem xs="6" Class="px-4">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <MudSlider @bind-Value="_recruitmentRequest.AgeRange" Min="18" Max="75"
                                                       Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled">
                                                Age Range (years): @_recruitmentRequest.AgeRange.ToString()
                                            </MudSlider>
                                        </MudPaper>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-0">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <div class="mt-1 ps-3">
                                                @if (_recruitmentRequest.GenderList is { Count: > 0 })
                                                {
                                                    <MudText Typo="Typo.subtitle2" Color="Color.Default">Gender: @string.Join(", ", _recruitmentRequest.GenderList.OrderBy(x => x))</MudText>
                                                }
                                                else
                                                {
                                                    <MudText Typo="Typo.subtitle2" Color="Color.Default">Gender:</MudText>
                                                }
                                                
                                            </div>
                                            <MudChipSet @bind-SelectedValues="_recruitmentRequest.GenderList" SelectionMode="SelectionMode.MultiSelection" CheckMark="true" Variant="Variant.Text" Color="Color.Info">
                                                <MudChip T="string" Value="@("Male")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Success" Variant="Variant.Filled" Rounded="true" title="Male">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-male" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Female")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Secondary" Variant="Variant.Filled" Rounded="true" title="Male">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-female" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                            </MudChipSet>
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        </MudStack>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="fas fa-money-check-alt" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                            <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Compensation Benefits</strong></MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudStack Row="true" StretchItems="StretchItems.All" AlignItems="AlignItems.Stretch" Spacing="3" Wrap="Wrap.NoWrap" Class="mb-3">
                            <MudPaper Elevation="0" Class="p-0 w-100">
                                <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-0">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <MudTextField @bind-Value="_recruitmentRequest.Responsibilities" Label="Duties and Responsibilities"
                                                          For="@(() => _recruitmentRequest.Responsibilities)"
                                                          HelperText="Type the duty and responsibility definitions here"
                                                          Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="5000" MaxLength="5000" Lines="8"
                                                          Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-0">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <MudTextField @bind-Value="_recruitmentRequest.GeneralRemarks" Label="General Remarks"
                                                          For="@(() => _recruitmentRequest.GeneralRemarks)"
                                                          HelperText="Note: This field is optional only"
                                                          Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="5000" MaxLength="5000" Lines="8"
                                                          Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>                                                           
                            </MudPaper>
                            <MudPaper Elevation="0" Class="p-0 w-100">
                                <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-0">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <MudTextField @bind-Value="_recruitmentRequest.Competencies" Label="Competencies"
                                                          For="@(() => _recruitmentRequest.Competencies)"
                                                          HelperText="Type the full competency definitions here"
                                                          Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="5000" MaxLength="5000" Lines="8"
                                                          Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0">
                                    <MudItem xs="6" Class="px-4">
                                        <MudSlider @bind-Value="_recruitmentRequest.YearlySalaryRange" Min="@_recruitmentRequest.YearlySalaryRangeMin" Max="_recruitmentRequest.YearlySalaryRangeMax"
                                                   Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled" ValueLabel="true">
                                            Yearly Salary Range (@_recruitmentRequest.YearlySalaryRangeCurrency): @_recruitmentRequest.YearlySalaryRange.ToString()
                                        </MudSlider>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-4">
                                        <MudSlider @bind-Value="_recruitmentRequest.MonthlySalaryRange" Min="@_recruitmentRequest.MonthlySalaryRangeMin" Max="_recruitmentRequest.MonthlySalaryRangeMax"
                                                   Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled" ValueLabel="true">
                                            Monthly Salary Range (@_recruitmentRequest.MonthlySalaryRangeCurrency): @_recruitmentRequest.MonthlySalaryRange.ToString()
                                        </MudSlider>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0">
                                    <MudItem xs="6" Class="px-4">
                                        <MudSlider @bind-Value="_recruitmentRequest.DailySalaryRange" Min="@_recruitmentRequest.DailySalaryRangeMin" Max="_recruitmentRequest.DailySalaryRangeMax"
                                                   Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled" ValueLabel="true">
                                            Daily Salary Range (@_recruitmentRequest.DailySalaryRangeCurrency): @_recruitmentRequest.DailySalaryRange.ToString()
                                        </MudSlider>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-4">
                                        <MudSlider @bind-Value="_recruitmentRequest.HourlySalaryRange" Min="@_recruitmentRequest.HourlySalaryRangeMin" Max="_recruitmentRequest.HourlySalaryRangeMax"
                                                   Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled" ValueLabel="true">
                                            Hourly Salary Range (@_recruitmentRequest.HourlySalaryRangeCurrency): @_recruitmentRequest.HourlySalaryRange.ToString()
                                        </MudSlider>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0">
                                    <MudItem xs="10" Class="px-0">
                                        <MudPaper Elevation="0" Class="p-0 w-100">
                                            <div class="mt-1 ps-3">
                                                @if (_recruitmentRequest.AssetList is { Count: > 0 })
                                                {
                                                    <MudText Typo="Typo.subtitle2" Color="Color.Default">Assets / Prerequisites: @string.Join(", ", _recruitmentRequest.AssetList.OrderBy(x => x))</MudText>
                                                }
                                                else
                                                {
                                                    <MudText Typo="Typo.subtitle2" Color="Color.Default">Assets / Prerequisites:</MudText>
                                                }

                                            </div>
                                            <MudChipSet @bind-SelectedValues="_recruitmentRequest.AssetList" SelectionMode="SelectionMode.MultiSelection" CheckMark="true" Variant="Variant.Text" Color="Color.Info">
                                                <MudChip T="string" Value="@("Desktop")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Desktop">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-desktop" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Laptop")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Laptop">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-laptop" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Tablet")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Tablet">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-tablet-alt" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Accomodation")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Accomodation">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-house-user" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Car")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Car">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-car" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Mobile")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Mobile">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-mobile-alt" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Uniform")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Uniform">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-tshirt" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Simcard")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Simcard">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-microchip" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                                <MudChip T="string" Value="@("Data Card")">
                                                    <AvatarContent>
                                                        <MudAvatar Color="Color.Default" Variant="Variant.Filled" Rounded="true" title="Data Card">
                                                            <MudIcon Color="Color.Dark" Icon="fas fa-id-card" Size="Size.Small" />
                                                        </MudAvatar>
                                                    </AvatarContent>
                                                </MudChip>
                                            </MudChipSet>
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        </MudStack>
                    </ChildContent>
                </MudExpansionPanel>  
                <MudScrollToTop TopOffset="100"
                                Selector="#mainPanel"
                                VisibleCssClass="visible absolute"
                                HiddenCssClass="hidden absolute">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
                </MudScrollToTop>
            </MudExpansionPanels>
        </div>
    </EditForm>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}
