@page "/UserAccount/ForgotPassword"
@layout KenHRApp.Web.Components.Layout.LoginLayout

<div class="recovery-root">

    <div class="recovery-container">

        <!-- LEFT SIDE -->
        <div class="branding-section">

            <img src="/images/KENlogo.png"
                 alt="Company Logo"
                 class="company-logo" />

            <MudText Typo="Typo.h4" Class="fw-bold mt-4 text-center text-md-start">
                KenHR Management System
            </MudText>

            <MudText Typo="Typo.body2"
                     Class="branding-description mt-2 text-center text-md-start">
                Empowering People. Simplifying Workforce Management.
            </MudText>

        </div>

        <!-- RIGHT SIDE -->
        <div class="recovery-section">

            <MudContainer MaxWidth="MaxWidth.Small">

                <EditForm EditContext="@_editContext" @ref="_editForm"
                          OnValidSubmit="HandleValidSubmit"
                          OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    @if (_hasValidationError && _validationMessages.Any())
                    {
                        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                            <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                            <ul style="margin:0; padding-left:20px;">
                                @foreach (var msg in _validationMessages)
                                {
                                    <li>
                                        <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                                        </li>
                                }
                            </ul>
                        </MudAlert>
                    }

                    @if (_showErrorAlert)
                    {
                        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                            @_errorMessage
                        </MudAlert>
                    }
                    <MudPaper Elevation="12" Class="pa-6 pa-md-8 login-card">

                        <MudText Typo="Typo.h5" Align="Align.Center" Style="color:#004165;" Class="fw-bold">
                            Forgot Password
                        </MudText>

                        <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Class="mud-width-full mt-2">
                            <MudTextField Label="User ID / Email"
                                          @bind-Value="Model.EmployeeCode"
                                          For="@(() => Model.EmployeeCode)"
                                          Variant="Variant.Outlined"
                                          HelperText="Enter User ID or Registered Email"
                                          MaxLength="50"
                                          HelperTextOnFocus="false"
                                          Required="true"
                                          Immediate="true"
                                          Disabled="@_btnProcessing"
                                          Typo="Typo.subtitle1"
                                          Margin="Margin.Dense"
                                          FullWidth="true" />

                            <MudDatePicker Label="Joining Date" Editable="true" @bind-Date="Model.DateOfJoining"
                                           For="@(() => Model.DateOfJoining)" AutoClose="true" Color="Color.Surface"
                                           Required="true"
                                           Disabled="@_btnProcessing"
                                           Margin="Margin.Dense"
                                           Clearable="false"
                                           Class="mb-4"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy"
                                           Placeholder="dd/MM/yyyy" Variant="Variant.Outlined">
                                <PickerActions Context="dateContext">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => Model.DateOfJoining = DateTime.Today))">Today</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => Model.DateOfJoining = null))">Clear</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudStack>

                        <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Class="mud-width-full">
                             <MudButton Variant="Variant.Filled"
                                        ButtonType="ButtonType.Submit"
                                        Color="Color.Primary"
                                        Style="background-color:#004165;"
                                        Class="mt-4"
                                        FullWidth="false"
                                        Disabled="@_btnProcessing">
                                 @if (_btnProcessing)
                                {
                                    <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
                                    <span>Processing...</span>
                                }
                                else
                                {
                                    <span>Submit</span>
                                }
                            </MudButton>
                            <MudButton Variant="Variant.Text"
                                       Color="Color.Surface"
                                       FullWidth="false"
                                       Class="mt-4"
                                       Disabled="@_btnProcessing"
                                       OnClick="GoToLogin">
                                Cancel
                            </MudButton>
                        </MudStack>

                        <MudDivider Class="my-4" />

                        <MudStack AlignItems="AlignItems.Center" Spacing="1">
                            <MudLink OnClick="GoToSupport" Disabled="@_btnProcessing" Typo="Typo.body2">
                                Need Support?
                            </MudLink>
                        </MudStack>
                    </MudPaper>
                </EditForm>

            </MudContainer>

        </div>

    </div>

</div>