@page "/UserAccount/Unlock"
@layout KenHRApp.Web.Components.Layout.LoginLayout

<MudContainer MaxWidth="MaxWidth.Small">
    <EditForm EditContext="@_editContext" @ref="_editForm"
              OnValidSubmit="HandleValidSubmit"
              OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                        </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }
        <MudPaper Elevation="6" Class="pa-6">

            <MudText Typo="Typo.h5" Align="Align.Center" Style="color:#004165;" Class="fw-bold">
                Unlock User Account
            </MudText>

            <MudPaper Elevation="0" Class="mt-2">
                <MudTextField @bind-Value="Model.EmployeeCode"
                              Label="User ID / Email"
                              Required="true"
                              Immediate="true"
                              HelperText="Enter User ID or Registered Email"
                              HelperTextOnFocus="true"
                              MaxLength="50"
                              Counter="50"
                              FullWidth="true"
                              Disabled="@_btnProcessing" />
            </MudPaper>

            <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Class="mud-width-full">
                 <MudButton Variant="Variant.Filled"
                            ButtonType="ButtonType.Submit"
                            Color="Color.Primary"
                            Style="background-color:#004165;"
                            Class="mt-4"
                            FullWidth="false"                            
                            Disabled="@_btnProcessing">
                     @if (_btnProcessing)
                    {
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
                        <span>Processing...</span>
                    }
                    else
                    {
                        <span>Unlock</span>
                    }
                </MudButton>
                <MudButton Variant="Variant.Text"
                           Color="Color.Surface"
                           FullWidth="false"
                           Class="mt-4"
                           OnClick="GoToLogin"
                           Disabled="@_btnProcessing">
                    Cancel
                </MudButton>
            </MudStack>
        </MudPaper>
    </EditForm>
</MudContainer>
<!-- Full-screen overlay -->
@* @if (_btnProcessing)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}
 *@
