@page "/TimeAttendance/ApplyOutdoor"

<style>
    .my-stepper .mud-stepper-actions {
        display: none !important;
    }
</style>

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
     <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">@_pageTitle</MudText>
    <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserFullName</MudText>
</MudStack>

<MudContainer MaxWidth="MaxWidth.Medium" Class="px-0">
    <EditForm EditContext="@_editContext" @ref="_editForm"
              OnValidSubmit="HandleValidSubmit"
              OnInvalidSubmit="HandleInvalidSubmit">

        <DataAnnotationsValidator />

        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                            </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }

        <MudPaper class="paper-header w-100 px-2" Elevation="0">   
            <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Class="mud-width-full"
                StretchItems="StretchItems.End" Breakpoint="Breakpoint.Xs">

                <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight" MaxItems="3" Class="mud-primary-text" />

                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexEnd" Spacing="2" Class="mt-2">
                    @if (ActionType == ActionTypes.Add.ToString())
                    {
                        <MudButton Variant="Variant.Filled"
                                    StartIcon="@Icons.Material.Filled.Save"
                                    ButtonType="ButtonType.Submit"
                                    Size="Size.Small"
                                    Color="Color.Success"
                                    Style="background-color:#004165;"
                                    Disabled="@(!_saveBtnEnabled)">
                            Submit
                        </MudButton>

                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh"
                                    ButtonType="ButtonType.Reset"
                                    Size="Size.Small"
                                    Color="Color.Warning"
                                    Style="background-color:#004165;"
                                    Disabled="@(_isEditMode)"
                                    OnClick="HandleRefreshButton">
                            Reset
                        </MudButton>

                        <MudButton Variant="Variant.Filled"                                   
                                    OnClick="ShowCancelDialog"
                                    Size="Size.Small"
                                    Color="Color.Surface">
                            Cancel
                        </MudButton>
                    }

                    @if (ActionType == ActionTypes.Approval.ToString())
                    {
                        @if (_outdoorRequest.StatusHandlingCode == "Open"
                            && _isCurrentApprover)
                        {
                            <MudButton Variant="Variant.Filled"
                                        StartIcon="fas fa-thumbs-up"
                                        Size="Size.Small"
                                        Color="Color.Success"
                                        Disabled="@(_isEditMode)"
                                        OnClick="BeginApproveRequest">
                                Approve
                            </MudButton>
                            <MudButton Variant="Variant.Filled"
                                        StartIcon="fas fa-thumbs-down"
                                        Size="Size.Small"
                                        Color="Color.Error"
                                        Disabled="@(_isEditMode)"
                                        OnClick="ConfirmReject">
                                Reject
                            </MudButton>
                        }
                    }

                    @if (ActionType == ActionTypes.Edit.ToString() 
                        || ActionType == ActionTypes.View.ToString())
                    {
                        @if (_outdoorRequest.StatusHandlingCode == "Open" 
                            && _isCreator)
                        {
                            <MudButton Variant="Variant.Filled"
                                    StartIcon="@Icons.Material.Filled.Cancel"
                                    Size="Size.Small"
                                    Color="Color.Error"
                                    Disabled="@(_isEditMode)"
                                    OnClick="ConfirmCancel">
                                Cancel Leave
                            </MudButton>
                        }                        
                        
                        <MudButton Variant="Variant.Filled" hidden
                                    StartIcon="@Icons.Material.Filled.Edit"
                                    Size="Size.Small"
                                    Color="Color.Primary"
                                    Style="background-color:#004165;"
                                    Disabled="@(_isEditMode)"
                                    OnClick="HandleEditButton">
                            Edit
                        </MudButton>

                        <MudButton Variant="Variant.Filled" hidden
                                    StartIcon="@Icons.Material.Filled.Undo"
                                    Size="Size.Small" Color="Color.Warning"
                                    Disabled="@(!_isEditMode)"
                                    OnClick="HandleUndoButton">
                            Undo
                        </MudButton>

                        <MudButton Variant="Variant.Filled" hidden
                                    StartIcon="@Icons.Material.Filled.Delete"
                                    Size="Size.Small" Color="Color.Error"
                                    Disabled="@_isEditMode"
                                    OnClick="ShowDeleteDialog">
                            Delete
                        </MudButton>
                    }   
                    
                    @if (ActionType == ActionTypes.Edit.ToString() || 
                        ActionType == ActionTypes.View.ToString() ||
                        ActionType == ActionTypes.Approval.ToString())
                    {
                        <MudButton Variant="Variant.Text"
                                    StartIcon="@Icons.Material.Filled.ArrowBackIos"
                                    Size="Size.Small"
                                    Color="Color.Surface"
                                    Disabled="@(_isEditMode)"
                                    OnClick="@(() => HandleBackButton(""))">
                            Go back
                        </MudButton>
                    }
                </MudStack>                
            </MudStack>
        </MudPaper>

        <div id="mainPanel" class="ma-0 full-height mt-2" style="overflow-y: scroll; scrollbar-width: none;">
            <MudPaper Elevation="0" Square="true" Class="w-100 px-2 mt-4">
                <MudGrid Spacing="5" Class="mt-0">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="w-100">
                            <MudAutocomplete @bind-Value="_outdoorRequest.ROADesc"
                                For="@(() => _outdoorRequest.ROADesc)"
                                Class="required-field"
                                Label="Outdoor Type"
                                SearchFunc="SearchReasonOfAbsence!"
                                Variant="Variant.Text"
                                Margin="Margin.Dense"
                                Dense="true"
                                Placeholder="Please Select"
                                HelperText="Type a key to search for value"
                                HelperTextOnFocus="true"
                                Clearable="true"
                                Typo="Typo.subtitle2"
                                Disabled="@_isDisabled"
                                MaxItems="@(_roaList != null ? _roaList.Count : 10)"
                                Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudSelect T="int"
                                       Value="_outdoorRequest.EmpNo"
                                       ValueChanged="@((v) => OnEmployeeChanged(v))"
                                       Disabled="@_isDisabled"
                                       Label="Select Employee"
                                       Variant="Variant.Text"
                                       Margin="Margin.Dense"
                                       Placeholder="Please Select"
                                       AdornmentIcon="@Icons.Material.Filled.ArrowDropDown"
                                       AdornmentColor="Color.Default"
                                       HelperText="Type a key to search for value"
                                       HelperTextOnFocus="true"
                                       Immediate="true"
                                       Typo="Typo.subtitle2">
                                @foreach (var emp in _employeeList!)
                                {
                                    <MudSelectItem Value="emp.EmployeeNo">@emp.EmployeeNameWithCode</MudSelectItem>
                                }
                            </MudSelect>
                        </MudPaper>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0" Style="overflow:visible; width:200px;">
                            <MudDatePicker Label="Start Date" Editable="true" AutoClose="true"
                                    Class="required-field"
                                    @bind-Date="_outdoorRequest.StartDate"
                                    For="@(() => _outdoorRequest.StartDate)"
                                    Margin="Margin.Dense" 
                                    HelperText="Specify start period of leave" HelperTextOnFocus="true" 
                                    Clearable="false" Disabled="@_isDisabled" 
                                    Color="Color.Surface"
                                    Mask="@(new DateMask("dd/MM/yyyy"))" 
                                    DateFormat="dd/MM/yyyy" 
                                    Placeholder="dd/MM/yyyy" 
                                    Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _outdoorRequest.StartDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _outdoorRequest.StartDate = null))">Clear</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0" Style="overflow:visible; width:200px;">
                            <MudTimePicker Color="Color.Dark" AmPm="true" TimeFormat="h:mm tt"
                                    Label="Start Time"
                                    @bind-Time="_outdoorRequest.StartTime"
                                    For="@(() => _outdoorRequest.StartTime)"
                                    Variant="Variant.Text"
                                    Margin="Margin.Dense"
                                    Disabled="@_isDisabled" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0" Style="overflow:visible; width:200px;">
                            <MudDatePicker Label="End Date" Editable="true" AutoClose="true"
                                    Class="required-field"
                                    @bind-Date="_outdoorRequest.EndDate"
                                    For="@(() => _outdoorRequest.EndDate)"
                                    Margin="Margin.Dense"
                                    HelperText="Specify resume date of work" HelperTextOnFocus="true"
                                    Clearable="false" 
                                    Disabled="@_isDisabled" 
                                    Color="Color.Surface"
                                    Mask="@(new DateMask("dd/MM/yyyy"))" 
                                    DateFormat="dd/MM/yyyy" 
                                    Placeholder="dd/MM/yyyy" 
                                    Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _outdoorRequest.EndDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _outdoorRequest.EndDate = null))">Clear</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0" Style="overflow:visible; width:200px;">
                            <MudTimePicker Color="Color.Dark" AmPm="true" TimeFormat="h:mm tt"
                                           Label="End Time"
                                           @bind-Time="_outdoorRequest.EndTime"
                                           For="@(() => _outdoorRequest.EndTime)"
                                           Variant="Variant.Text"
                                           Margin="Margin.Dense"
                                           Disabled="@_isDisabled" />
                        </MudPaper>
                    </MudItem>                    
                </MudGrid>                                 

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_outdoorRequest.ActionDesc"
                                                SearchFunc="SearchAction!"
                                                Variant="Variant.Text"
                                                Label="Select Action"
                                                Margin="Margin.Normal"
                                                Dense="true"
                                                Placeholder="Please Select"
                                                HelperText="Type a key to search for action"
                                                HelperTextOnFocus="true"
                                                Clearable="true" Typo="Typo.subtitle2"
                                                MaxItems="@(_actionList != null ? _actionList.Count : 10)"
                                                Disabled="true"
                                                Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0" Style="overflow:visible; width:200px;">
                            <MudAutocomplete @bind-Value="_outdoorRequest.DOWDesc"
                                             For="@(() => _outdoorRequest.DOWDesc)"
                                             Label="Day of Week"
                                             SearchFunc="SearchDOW!"
                                             Variant="Variant.Text"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             Disabled="@_isDisabled"
                                             MaxItems="@(_dowList != null ? _dowList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="0" Class="m-0 p-0">
                    <MudItem xs="12">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudTextField @bind-Value="_outdoorRequest.Description"
                                          For="@(() => _outdoorRequest.Description)"
                                          Label="Description"
                                          HelperText="Max. text input is 500 chars."
                                          Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="500" MaxLength="500" Lines="4"
                                          Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                               
                <MudExpansionPanels Elevation="0" MultiExpansion="true" Class="p-0 mb-4">
                    <MudExpansionPanel Class="p-0" Dense Gutters Expanded="true">
                        <TitleContent>
                            <div class="d-flex">
                                <MudIcon Icon="fas fa-briefcase" Style="color: #004165;" class="mr-3 mt-1" Size=Size.Small></MudIcon>
                                <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>File Attachments</strong></MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Class="mud-width-full">
                                @if (ActionType == ActionTypes.Add.ToString())
                                {
                                    <MudFileUpload 
                                        @bind-Files="_files"
                                        Class="mt-1"
                                        Accept=".doc,.docx,.xls,.xlsx,.csv,.ppt,.pptx,.pdf,.png,.jpg"
                                        MaxFileSize="10485760"
                                                   Disabled="@(_btnProcessing || _isDisabled)">

                                        <ActivatorContent>
                                            <MudButton Variant="Variant.Filled"
                                                EndIcon="@Icons.Material.Filled.AttachFile"
                                                Size="Size.Small"
                                                       Color="Color.Info">
                                                Upload Files
                                            </MudButton>
                                        </ActivatorContent>
                                    </MudFileUpload>

                                    @if (_files?.Any() == true)
                                    {
                                        <MudChipSet T="IBrowserFile" Class="mt-2">
                                            @foreach (var file in _files)
                                            {
                                                <MudChip T="IBrowserFile"
                                                Color="Color.Info"
                                                Variant="Variant.Outlined"
                                                Closeable="true"
                                                Disabled="@(_btnProcessing || _isDisabled)"
                                                OnClose="@(() => RemoveFile(file))">
                                                    @file.Name (@(file.Size / 1024) KB)
                                                </MudChip>
                                            }
                                        </MudChipSet>
                                    }
                                }
                                else if (ActionType == ActionTypes.View.ToString() ||
                                ActionType == ActionTypes.Approval.ToString())
                                {
                                    @if (_outdoorRequest.Files.Any())
                                    {
                                        <MudChipSet T="LeaveAttachmentDTO" Class="mt-2">
                                            @foreach (var file in _outdoorRequest.Files)
                                            {
                                                <MudChip T="LeaveAttachmentDTO"
                                                         Color="Color.Info"
                                                         Variant="Variant.Outlined"
                                                         Disabled="false">
                                                    @file.FileName (@(file.FileSize / 1024) KB)
                                                </MudChip>
                                            }
                                        </MudChipSet>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body2" Color="Color.Surface">
                                            No file attachments found!
                                        </MudText>
                                    }
                                }
                            </MudStack>
                        </ChildContent>
                    </MudExpansionPanel>

                    @if (ActionType == ActionTypes.Approval.ToString() 
                        && _outdoorRequest.StatusHandlingCode == "Open" 
                        && _isCurrentApprover)
                    {
                        <MudExpansionPanel Class="p-0" Dense Gutters Expanded="true">
                                <TitleContent>
                                    <div class="d-flex">
                                        <MudIcon Icon="fas fa-user-check" Style="color: #004165;" class="mr-3 mt-1" Size=Size.Small></MudIcon>
                                        <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Approval Remarks</strong></MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                <MudPaper Elevation="0" Square="true" Class="w-100 mt-0 mb-1">
                                    <MudTextField Label="Remarks"
                                        @bind-Value="_approverRemarks"
                                        Variant="Variant.Outlined"
                                        MaxLength="500" Lines="4"
                                        Clearable="@_isClearable" Disabled="false" Immediate="true"
                                        Margin="Margin.Dense" Typo="Typo.subtitle2" />
                                </MudPaper>
                            </ChildContent>
                        </MudExpansionPanel>
                    }

                    @if (ActionType == ActionTypes.View.ToString()
                        || ActionType == ActionTypes.Approval.ToString())
                    {
                        <MudExpansionPanel Class="p-0" Dense Gutters>
                            <TitleContent>
                                <div class="d-flex">
                                    <MudIcon Icon="fas fa-user-check" Style="color: #004165;" class="mr-3 mt-1" Size=Size.Small></MudIcon>
                                    <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Approval Workflow</strong></MudText>
                                </div>
                            </TitleContent>
                            <ChildContent>
                                <MudPaper Elevation="0" Square="true" Class="w-100 mt-0 mb-1">
                                    @if (_workflowList.Any())
                                    {
                                         <MudStepper NonLinear Ripple="true" Class="my-stepper" ShowResetButton="false" 
                                            @bind-ActiveIndex="_currentWFIndex" 
                                            CurrentStepColor="Color.Secondary" CompletedStepColor="Color.Success"
                                            ErrorStepColor="Color.Error">
                                                @foreach (var wf in _workflowList!)
                                                {
                                                    <MudStep @bind-Title="wf.ActivityName" @bind-SecondaryText="wf.ApprovalSummary"
                                                        @bind-Completed="wf.IsCompleted"  
                                                        @bind-Disabled="wf.IsCompleted">
                                                        <MudText Typo="Typo.subtitle2" Color="Color.Secondary">
                                                            <strong>
                                                                @wf.ApprovalDetails
                                                            </strong>
                                                        </MudText>
                                                    </MudStep>
                                                }
                                        </MudStepper>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body2" Color="Color.Surface">
                                            No workflow transactions found!
                                        </MudText>
                                    }
                                </MudPaper>
                            </ChildContent>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </div>
    </EditForm>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}