@page "/TimeAttendance/regularization"

<style>
    .my-stepper .mud-stepper-actions {
        display: none !important;
    }
</style>

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
    <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">@_pageTitle</MudText>
    <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserFullName</MudText>
</MudStack>

    <MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    <EditForm EditContext="@_editContext" @ref="_editForm"
        OnValidSubmit="HandleValidSubmit"
        OnInvalidSubmit="HandleInvalidSubmit">

        <DataAnnotationsValidator />

            @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                            </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }

        <MudPaper class="paper-header w-100 px-2" Elevation="0">   
            <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Class="mud-width-full"
                StretchItems="StretchItems.End" Breakpoint="Breakpoint.Xs">

                <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight" 
                    MaxItems="3" Class="mud-primary-text" />

                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexEnd" Spacing="2">
                    @if (ActionType == ActionTypes.Add.ToString())
                    {
                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Save"
                                   ButtonType="ButtonType.Submit"
                                   Size="Size.Small"
                                   Color="Color.Success"
                                   Style="background-color:#004165;"
                                   Disabled="@(!_saveBtnEnabled)">
                            Submit
                        </MudButton>

                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh"
                                   ButtonType="ButtonType.Reset"
                                   Size="Size.Small"
                                   Color="Color.Warning"
                                   Style="background-color:#004165;"
                                   Disabled="@(_isEditMode)"
                                   OnClick="HandleRefreshButton">
                            Reset
                        </MudButton>

                        <MudButton Variant="Variant.Filled"
                                   OnClick="ShowCancelDialog"
                                   Size="Size.Small"
                                   Color="Color.Surface">
                            Cancel
                        </MudButton>
                    }

                    @if (ActionType == ActionTypes.Edit.ToString() || ActionType == ActionTypes.View.ToString())
                    {
                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Cancel"
                                   Size="Size.Small"
                                   Color="Color.Error"
                                   Disabled="@(_isEditMode)"
                                   OnClick="ConfirmCancel">
                            Cancel Leave
                        </MudButton>

                        <MudButton Variant="Variant.Text"
                                   StartIcon="@Icons.Material.Filled.ArrowBackIos"
                                   Size="Size.Small"
                                   Color="Color.Surface"
                                   Disabled="@(_isEditMode)"
                                   OnClick="HandleBackButton">
                            Go back
                        </MudButton>

                        <MudButton Variant="Variant.Filled" hidden
                                   StartIcon="@Icons.Material.Filled.Edit"
                                   Size="Size.Small"
                                   Color="Color.Primary"
                                   Style="background-color:#004165;"
                                   Disabled="@(_isEditMode)"
                                   OnClick="HandleEditButton">
                            Edit
                        </MudButton>

                        <MudButton Variant="Variant.Filled" hidden
                                   StartIcon="@Icons.Material.Filled.Undo"
                                   Size="Size.Small" Color="Color.Warning"
                                   Disabled="@(!_isEditMode)"
                                   OnClick="HandleUndoButton">
                            Undo
                        </MudButton>

                        <MudButton Variant="Variant.Filled" hidden
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Size="Size.Small" Color="Color.Error"
                                   Disabled="@_isEditMode"
                                   OnClick="ShowDeleteDialog">
                            Delete
                        </MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>

        <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
            <MudGrid Spacing="3" Class="px-2">
                <MudItem xs="12" sm="4">
                    <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" 
                        StretchItems="StretchItems.Start" Spacing="0">
                        <MudPaper Elevation="0" Class="pa-0 w-100">
                            <MudBreakpointProvider OnBreakpointChanged="OnBreakpointChanged">
                                <div @key="_calendarRenderKey">
                                    <MudDatePicker PickerVariant="PickerVariant.Static" 
                                        @ref="_picker"
                                        Color="Color.Dark" 
                                        Rounded="true"
                                        Elevation="0"
                                        Orientation="@_calOrientation" 
                                        Date="@_selectedDate"
                                        DateChanged="OnDateChanged"
                                        Style="@_pickerStyle"
                                        PickerDayContent="CalendarDayTemplate">
                                    </MudDatePicker>
                                </div>
                            </MudBreakpointProvider>
                        </MudPaper>
                    </MudStack>
                </MudItem>

                <MudItem xs="12" sm="8">
                </MudItem>
            </MudGrid>
        </div>
    </EditForm>
</MudContainer>