@page "/TimeAttendance/AttendanceCorrectInq"
@using KenHRApp.Application.DTOs.TNA

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
     <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Attendance Corrections</MudText>
     <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserFullName</MudText>
    </MudStack>

    <MudContainer MaxWidth="MaxWidth.False" Class="px-4">
        @if (_hasValidationError && _validationMessages.Any())
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
            <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
            <ul style="margin:0; padding-left:20px;">
                @foreach (var msg in _validationMessages)
                {
                    <li>
                        <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                        </li>
                }
            </ul>
        </MudAlert>
    }

    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }

    <MudPaper class="paper-header w-100 px-4" Elevation="0">
        <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
                        CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />
        <MudSpacer></MudSpacer>

        <MudPaper Elevation="0">
            <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Class="mud-width-full mt-0" Spacing="2">
                 <MudButton Variant="Variant.Filled"
                            Color="Color.Primary"
                            Style="background-color:#004165;"
                            Class="mt-1 px-4"
                            FullWidth="false"
                            Size="Size.Small"
                            StartIcon="@Icons.Material.Filled.PersonSearch"
                            OnClick="@(() => BeginSearchAttendanceCorrection(true))"
                            Disabled="@_isRunning">
                     @if (_isRunning)
                    {
                        <span>Searching...</span>
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
                    }
                    else
                    {
                        <span>Search</span>
                    }
                </MudButton>
                <MudButton Variant="Variant.Filled"
                           ButtonType="ButtonType.Reset"
                           Color="Color.Warning"
                           Style="background-color:#004165;"
                           FullWidth="false"
                           Class="mt-1 px-4"
                           Size="Size.Small"
                           Disabled="@_isRunning"
                           StartIcon="@Icons.Material.Filled.Refresh"
                           OnClick="HandleRefreshButton">
                    Reset
                </MudButton>
            </MudStack>
        </MudPaper>
    </MudPaper>

    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="0" Wrap="Wrap.NoWrap" Class="pe-2 mb-0">
            <MudPaper Elevation="0" Square="true" Class="w-100">
                <MudGrid Spacing="5">
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudNumericField HideSpinButtons="true"
                                             @bind-Value="_requestNo"
                                             Label="Request No."
                                             Variant="Variant.Text"
                                             HelperText="Enter numeric value only"
                                             HelperTextOnFocus="true"
                                             MaxLength="10"
                                             Clearable="true"
                                             Immediate="true"
                                             Min="0" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudNumericField HideSpinButtons="true"
                                             @bind-Value="_empNo"
                                             Label="Employee No."
                                             Variant="Variant.Text"
                                             HelperText="Enter numeric value only"
                                             HelperTextOnFocus="true"
                                             MaxLength="10"
                                             Clearable="true"
                                             Immediate="true"
                                             Min="0" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedDepartment"
                                             SearchFunc="SearchDepartment!"
                                             Variant="Variant.Text"
                                             Label="Department"
                                             Margin="Margin.Dense"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for department"
                                             HelperTextOnFocus="true"
                                             Clearable="true" Typo="Typo.subtitle2"
                                             MaxItems="@(_departmentList != null ? _departmentList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedRequestType"
                                             FullWidth="true"
                                             Label="Request Type"
                                             SearchFunc="SearchRequestType!"
                                             Variant="Variant.Text"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             MaxItems="@(_requestTypeList != null ? _requestTypeList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                <MudGrid Spacing="5">
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedStatus"
                                             FullWidth="true"
                                             Label="Status"
                                             SearchFunc="SearchRequestStatus!"
                                             Variant="Variant.Text"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             MaxItems="@(_requestStatusList != null ? _requestStatusList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudDatePicker @ref="_startDatePicker"
                                           Label="Start Date" Editable="true"
                                           @bind-Date="_selectedStartDate"
                                           Margin="Margin.Dense" Color="Color.Primary"
                                           HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" AutoClose="true"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy"
                                           Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _startDatePicker.ClearAsync())">Clear</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _selectedStartDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Color="Color.Primary" OnClick="@(() => _startDatePicker.CloseAsync())">OK</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudDatePicker @ref="_endDatePicker"
                                           Label="End Date" Editable="true"
                                           @bind-Date="_selectedEndDate"
                                           Margin="Margin.Dense" Color="Color.Primary"
                                           HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" AutoClose="true"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy"
                                           Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _endDatePicker.ClearAsync())">Clear</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _selectedEndDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Color="Color.Primary" OnClick="@(() => _endDatePicker.CloseAsync())">OK</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudAppBar Class="rounded-t-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                <MudText Typo="Typo.button" HtmlTag="h3" Class="text-white">ATTENDANCE CORRECTIONS</MudText>
                <MudSpacer />
                <MudMenu Dense Variant="Variant.Text" Size="Size.Small" Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu" hidden>
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Dark" Label="Apply Regularization" />
                 </MudMenu>
             </MudAppBar>
             <MudPaper Elevation="5" Square="true" Class="w-100 mb-3">
                 <MudDataGrid T="AttendanceCorrectionDTO" Items="@_correctionList" Hover="true" Striped="true" Class="attcorrect-grid"
                    Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                    QuickFilter="@_quickFilter" Hideable="true" PageSize="5"
                    EditTrigger="DataGridEditTrigger.Manual" ReadOnly="false" EditMode="DataGridEditMode.Form"
                    EditDialogOptions="new DialogOptions
                    {
                        MaxWidth = MaxWidth.Small,
                        FullWidth = true,
                        BackdropClick = false,
                        CloseOnEscapeKey = false
                    }"
                    StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                    TableLayout="TableLayout.Fixed" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true">
                    <ToolBarContent>
                         <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                             <MudTextField @bind-Value="_searchString" Placeholder="Enter search string" Adornment="Adornment.Start"
                                           Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                           AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                             </MudTextField>
                         </MudPaper>
                         <MudSpacer />
                         <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                             <MudSwitch @bind-Value="_enableFilter" ThumbIcon="@(_enableFilter==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(_enableFilter==true ? Color.Success : Color.Error)">Custom Filter</MudSwitch>
                         </MudPaper>
                     </ToolBarContent>
                     <Columns>
                        <PropertyColumn Property="x => x.RequestTypeCode" Hidden Editable="false">
                                <EditTemplate>
                                    @* Empty to prevent rendering *@
                                </EditTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.RequestNo" Title="Request No." Class="col-RequestNo"
                            StickyLeft="true" Editable="false">
                             <CellTemplate Context="row">
                                 <MudChip T="long"
                                          Size=Size.Small
                                          Color="Color.Secondary"
                                          Label="true"
                                          Class="fw-bold"
                                          Style="font-size: 14px;"
                                          OnClick="@(()=>OpenRequestDetail(row.Item))">
                                     @row.Item.RequestNo
                                </MudChip>
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.RequestTypeDesc" Title="Request Type" Class="col-RequestTypeDesc" Editable="false">
                                <CellTemplate>
                                    @context.Item.RequestTypeDesc
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.AppliedDate" Title="Applied Date" Class="col-AppliedDate" Editable="false">
                            <CellTemplate>
                                @(context.Item.AppliedDate.HasValue ? context.Item.AppliedDate.Value.ToString("dd-MMM-yyyy") : "")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.RequesterName" Title="Requested By" Class="col-RequesterName" Editable="false">
                            <CellTemplate>
                                @context.Item.RequesterName
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.RequestDetail" Title="Details" Class="col-RequestDetail" Editable="false">
                            <CellTemplate Context="row">
                                <div style="white-space: pre-line; line-height: 1.5; font-size: 13px; color: #333;">
                                    @row.Item.RequestDetail
                                </div>
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.CurrentStatus" Title="Status" Class="col-CurrentStatus" Editable="false">
                            <CellTemplate>
                                @context.Item.CurrentStatus
                            </CellTemplate>
                            <CellTemplate Context="row">
                                <MudChip T="string" Size=Size.Small Variant="Variant.Outlined"
                                    Color="@(row.Item.CurrentStatus == RequestStatus.Open.ToString() ? Color.Info
                                        : row.Item.CurrentStatus == RequestStatus.Closed.ToString() ? Color.Tertiary
                                        : row.Item.CurrentStatus == RequestStatus.Rejected.ToString() ? Color.Error
                                        : row.Item.CurrentStatus == RequestStatus.Cancelled.ToString() ? Color.Warning
                                        : row.Item.CurrentStatus == RequestStatus.Approved.ToString() ? Color.Success
                                        : row.Item.CurrentStatus == RequestStatus.Draft.ToString() ? Color.Surface
                                        : Color.Dark)">
                                    @row.Item.CurrentStatus
                                </MudChip>
                            </CellTemplate>
                        </PropertyColumn>
                        <TemplateColumn CellClass="d-flex align-center justify-end action-cell" Title="Actions">
                            <EditTemplate Context="row">
                                <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.FlexStart" Spacing="0" Class="pt-3">
                                    <MudIconButton Color="Color.Info" title="View request details" Size="Size.Small"
                                        Icon="far fa-eye"
                                        OnClick="@(() => OpenRequestDetail(row.Item))">
                                        </MudIconButton>
                                </MudStack>                                                                                          
                            </EditTemplate>
                        </TemplateColumn>
                    </Columns>
                    <NoRecordsContent>
                        <div class="no-data-box">
                            <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                            <span>No data found</span>
                        </div>
                    </NoRecordsContent>
                    <PagerContent>
                        <MudDataGridPager T="AttendanceCorrectionDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                    </PagerContent>
                </MudDataGrid>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Style="position: fixed !important;bottom: 20px;left: 50%;transform: translateX(-50%);right: auto !important;z-index: 2000;"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </MudStack>
    </div>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}