@page "/TimeAttendance/leaverequest"

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
     <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Apply Leave</MudText>
     <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserName</MudText>
</MudStack>

<MudContainer MaxWidth="MaxWidth.Large" Class="px-4">

    <EditForm EditContext="@_editContext" @ref="_editForm"
              OnValidSubmit="HandleValidSubmit"
              OnInvalidSubmit="HandleInvalidSubmit">

        <DataAnnotationsValidator />

        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                            </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }

        <MudPaper class="paper-header w-100 px-4" Elevation="0">   
            <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Class="mud-width-full"
                StretchItems="StretchItems.End" Breakpoint="Breakpoint.Xs">

                <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight" MaxItems="3" Class="mud-primary-text" />

                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexEnd" Spacing="2">
                    @if (ActionType == ActionTypes.Edit.ToString() || ActionType == ActionTypes.View.ToString())
                    {
                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Edit"
                                   Size="Size.Small"
                                   Color="Color.Primary"
                                   Style="background-color:#004165;"
                                   Disabled="@(_isEditMode)"
                                   OnClick="HandleEditButton">
                            Edit
                        </MudButton>
                    }

                    <MudButton Variant="Variant.Filled"
                               StartIcon="@Icons.Material.Filled.Save"
                               ButtonType="ButtonType.Submit"
                               Size="Size.Small"
                               Color="Color.Success"
                               Style="background-color:#004165;"
                               Disabled="@(!_saveBtnEnabled)">
                        Submit
                    </MudButton>

                    @if (ActionType == ActionTypes.Edit.ToString() || ActionType == ActionTypes.View.ToString())
                    {
                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Undo"
                                   Size="Size.Small" Color="Color.Warning"
                                   Disabled="@(!_isEditMode)"
                                   OnClick="HandleUndoButton">
                            Undo
                        </MudButton>

                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh"
                                   ButtonType="ButtonType.Reset"
                                   Size="Size.Small"
                                   Color="Color.Primary"
                                   Style="background-color:#004165;"
                                   Disabled="@(_isEditMode)"
                                   OnClick="HandleRefreshButton">
                            Refresh
                        </MudButton>

                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Size="Size.Small" Color="Color.Error"
                                   Disabled="@_isEditMode"
                                   OnClick="ShowDeleteDialog">
                            Delete
                        </MudButton>
                    }

                    @if (ActionType == ActionTypes.Add.ToString())
                    {
                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Cancel"
                                   OnClick="ShowCancelDialog"
                                   Size="Size.Small"
                                   Color="Color.Surface">
                            Cancel
                        </MudButton>
                    }
                </MudStack>                
            </MudStack>
        </MudPaper>

        <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
            <MudPaper Elevation="0" Square="true" Class="w-100 px-4 mt-5">
                 <MudGrid Spacing="5">
                    <MudItem xs="12">
                        <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Spacing="4">
                             <MudStack Justify="Justify.FlexStart" Spacing="0">
                                 <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceEvenly" Spacing="1">
                                     <MudAvatar Size="Size.Small" Color="Color.Success" Variant="Variant.Filled">
                                         <MudIcon Icon="@Icons.Material.Filled.TimeToLeave" />
                                     </MudAvatar>
                                     <MudText Typo="Typo.subtitle1" Class="fw-bold" Color="Color.Success">@_leaveRequest.LeaveDuration!.Value.ToString("F1") days</MudText>
                                 </MudStack>
                                 <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Success">Leave Duration</MudText>
                             </MudStack>
                             <MudStack Justify="Justify.FlexStart" Spacing="0">
                                 <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceEvenly" Spacing="1">
                                     <MudAvatar Size="Size.Small" Color="Color.Info" Variant="Variant.Filled">
                                         <MudIcon Icon="@Icons.Material.Filled.Weekend" />
                                     </MudAvatar>
                                    <MudText Typo="Typo.subtitle1" Class="fw-bold" Color="Color.Info">@_leaveRequest.NoOfWeekends!.Value.ToString() days</MudText>
                                 </MudStack>
                                 <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Info">Weekends</MudText>
                             </MudStack>
                             <MudStack Justify="Justify.FlexStart" Spacing="0">
                                 <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceEvenly" Spacing="1">
                                     <MudAvatar Size="Size.Small" Color="Color.Secondary" Variant="Variant.Filled">
                                         <MudIcon Icon="@Icons.Material.Filled.HolidayVillage" />
                                     </MudAvatar>
                                     <MudText Typo="Typo.subtitle1" Class="fw-bold" Color="Color.Secondary">@_leaveRequest.NoOfHolidays!.Value.ToString() days</MudText>
                                 </MudStack>
                                 <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Secondary">Holidays</MudText>
                             </MudStack>
                         </MudStack>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="w-100">
                            <MudAutocomplete @bind-Value="_leaveRequest.LeaveTypeDesc"
                                             For="@(() => _leaveRequest.LeaveTypeDesc)"
                                             Class="employee-autocomplete"
                                             Label="Leave Type"
                                             SearchFunc="SearchLeaveTypes!"
                                             Variant="Variant.Text"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             Disabled="@_isDisabled"
                                             MaxItems="@(_leaveTypeList != null ? _leaveTypeList.Count : 10)"
                                             Required="true" RequiredError="Leave Type is required"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_leaveRequest.LeaveEmpName"
                                             For="@(() => _leaveRequest.LeaveEmpName)"
                                             SearchFunc="SearchEmployee!"
                                             Variant="Variant.Text"
                                             Label="Employee"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             Disabled="@_isDisabled"
                                             MaxItems="@(_employeeList != null ? _employeeList.Count : 10)"
                                              Required="true" RequiredError="Employee is required"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            @* <MudDatePicker Label="Start Date" Editable="true" AutoClose="true"
                                        @bind-Date="_leaveRequest.LeaveStartDate"
                                        For="@(() => _leaveRequest.LeaveStartDate)"
                                        Margin="Margin.Dense" 
                                        HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" Clearable="false" Disabled="@_isDisabled" Color="Color.Surface"
                                        Required="true" RequiredError="Start Date is required"
                                        Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy" Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _leaveRequest.LeaveStartDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _leaveRequest.LeaveStartDate = null))">Clear</MudButton>
                                </PickerActions>
                            </MudDatePicker> *@

                            <MudDatePicker Label="Start Date" Editable="true" AutoClose="true"
                                        For="@(() => _leaveRequest.LeaveStartDate)"
                                        Margin="Margin.Dense" 
                                        HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" 
                                        Clearable="false" Disabled="@_isDisabled" 
                                        Color="Color.Surface"
                                        Required="true" RequiredError="Start Date is required"
                                        Date="_leaveRequest.LeaveStartDate"
                                        DateChanged="OnStartDateChanged"
                                        Mask="@(new DateMask("dd/MM/yyyy"))" 
                                        DateFormat="dd/MM/yyyy" 
                                        Placeholder="dd/MM/yyyy" 
                                        Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _leaveRequest.LeaveStartDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _leaveRequest.LeaveStartDate = null))">Clear</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_leaveRequest.StartDayModeDesc"
                                             For="@(() => _leaveRequest.StartDayModeDesc)"
                                             SearchFunc="SearchLeaveMode!"
                                             Variant="Variant.Text"
                                             Label="Start Day Mode"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             Disabled="@_isDisabled"
                                             MaxItems="@(_leaveModeList != null ? _leaveModeList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                        <MudDatePicker Label="Resume Date" Editable="true" AutoClose="true"
                                        Date="_leaveRequest.LeaveResumeDate"
                                        DateChanged="OnResumeDateChanged"
                                        For="@(() => _leaveRequest.LeaveResumeDate)"
                                        Margin="Margin.Dense"
                                        HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" 
                                        Clearable="false" 
                                        Disabled="@_isDisabled" 
                                        Color="Color.Surface"
                                        Required="true" RequiredError="Resume Date is required"
                                        Mask="@(new DateMask("dd/MM/yyyy"))" 
                                        DateFormat="dd/MM/yyyy" 
                                        Placeholder="dd/MM/yyyy" 
                                        Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _leaveRequest.LeaveResumeDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _leaveRequest.LeaveResumeDate = null))">Clear</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_leaveRequest.EndDayModeDesc"
                                             For="@(() => _leaveRequest.EndDayModeDesc)"
                                             SearchFunc="SearchLeaveMode!"
                                             Variant="Variant.Text"
                                             Label="End Day Mode"
                                             Margin="Margin.Dense"
                                             Dense="true" 
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             Disabled="@_isDisabled"
                                             MaxItems="@(_leaveModeList != null ? _leaveModeList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>                    
                </MudGrid>                                 

                <MudGrid Spacing="5">
                    <MudItem xs="6">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudTextField @bind-Value="_leaveRequest.LeaveRemarks" Label="Leave Reason"
                                          For="@(() => _leaveRequest.LeaveRemarks)"
                                          HelperText="Max. text input is 500 chars."
                                          Variant="Variant.Text" HelperTextOnFocus="true" Counter="500" MaxLength="500" Lines="3"
                                           Required="true" RequiredError="Leave Reason is required"
                                          Clearable="@_isClearable" Disabled="@_isDisabled" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="6">
                        <MudPaper Elevation="0">
                            <MudStack Row Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Spacing="3" Breakpoint="Breakpoint.Xs">
                                 <MudPaper Elevation="0">
                                     <MudText Typo="Typo.caption" Align="Align.Start" Style="color: #004165;">Require Visa?</MudText>
                                     <MudPaper Elevation="0" Class="p-0 w-100 d-flex justify-content-start">
                                         <MudSwitch @bind-Value="_leaveRequest.LeaveVisaRequired" Color="Color.Success" UncheckedColor="Color.Default"
                                                    Disabled="@_isDisabled"
                                                    LabelPlacement="Placement.Start">No/Yes</MudSwitch>
                                     </MudPaper>
                                 </MudPaper>
                                 <MudPaper Elevation="0">
                                     <MudText Typo="Typo.caption" Align="Align.Start" Style="color: #004165;">Require Adv. Payment?</MudText>
                                     <MudPaper Elevation="0" Class="p-0 w-100 d-flex justify-content-start">
                                         <MudSwitch @bind-Value="_leaveRequest.LeavePayAdv" Color="Color.Success" UncheckedColor="Color.Default"
                                                    Disabled="@_isDisabled"
                                                    LabelPlacement="Placement.Start">No/Yes</MudSwitch>
                                     </MudPaper>
                                 </MudPaper>
                            </MudStack>                            
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                               
                <MudExpansionPanels Elevation="0" MultiExpansion="true" Class="p-0 m-0">
                    <MudExpansionPanel Class="p-0" Dense Gutters Expanded>
                        <TitleContent>
                            <div class="d-flex">
                                <MudIcon Icon="fas fa-briefcase" Style="color: #004165;" class="mr-2" Size=Size.Small></MudIcon>
                                <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>File Attachments</strong></MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Class="mud-width-full">
                                <MudFileUpload @bind-Files="_files"
                                               Class="mt-1"
                                               Accept=".doc,.docx,.xls,.xlsx,.csv,.ppt,.pptx,.pdf,.png,.jpg"
                                               MaxFileSize="10485760"
                                               Disabled="@_btnProcessing">

                                    <ActivatorContent>
                                        <MudButton Variant="Variant.Filled"
                                            EndIcon="@Icons.Material.Filled.AttachFile"
                                            Size="Size.Small"
                                                   Color="Color.Info">
                                            Upload Files
                                        </MudButton>
                                    </ActivatorContent>

                                </MudFileUpload>

                                @if (_files?.Any() == true)
                                {
                                    <MudChipSet T="IBrowserFile" Class="mt-2">
                                        @foreach (var file in _files)
                                        {
                                            <MudChip T="IBrowserFile"
                                                     Color="Color.Info"
                                                     Variant="Variant.Outlined"
                                                     Closeable="true"
                                                     Disabled="@_btnProcessing"
                                                     OnClose="@(() => RemoveFile(file))">
                                                @file.Name (@(file.Size / 1024) KB)
                                            </MudChip>
                                        }
                                    </MudChipSet>
                                }
                            </MudStack>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </div>
    </EditForm>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}