@page "/TimeAttendance/leaveinquiry"

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
    <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Leave Inquiry</MudText>
    <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserName</MudText>
</MudStack>

<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
     @if (_hasValidationError && _validationMessages.Any())
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
            <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
            <ul style="margin:0; padding-left:20px;">
                @foreach (var msg in _validationMessages)
                {
                    <li>
                        <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                        </li>
                }
            </ul>
        </MudAlert>
    }

    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }

    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
            CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />

        <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="0" Wrap="Wrap.NoWrap" Class="pe-2 mb-0">
            <MudPaper Elevation="0" Square="true" Class="w-100">
                <MudGrid Spacing="5">
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudNumericField HideSpinButtons="true"
                                @bind-Value="_leaveNo"
                                Label="Leave No."  
                                Variant="Variant.Text" 
                                HelperText="Enter numeric value only"
                                HelperTextOnFocus="true"  
                                MaxLength="10"
                                Clearable="true" 
                                Immediate="true" 
                                Min="0" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudNumericField HideSpinButtons="true"
                                @bind-Value="_empNo"
                                Label="Employee No."  
                                Variant="Variant.Text" 
                                HelperText="Enter numeric value only"
                                HelperTextOnFocus="true"  
                                MaxLength="10"
                                Clearable="true" 
                                Immediate="true" 
                                Min="0" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedDepartment"
                                             SearchFunc="SearchDepartment!"
                                             Variant="Variant.Text"
                                             Label="Department"
                                             Margin="Margin.Dense"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for department"
                                             HelperTextOnFocus="true"
                                             Clearable="true" Typo="Typo.subtitle2"
                                             MaxItems="@(_departmentList != null ? _departmentList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedLeaveType"
                                             FullWidth="true"
                                             Label="Leave Type"
                                             SearchFunc="SearchLeaveTypes!"
                                             Variant="Variant.Text"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             MaxItems="@(_leaveTypeList != null ? _leaveTypeList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                <MudGrid Spacing="5">
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedStatus"
                                             FullWidth="true"
                                             Label="Status"
                                             SearchFunc="SearchLeaveStatus!"
                                             Variant="Variant.Text"
                                             Margin="Margin.Dense"
                                             Dense="true"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for value"
                                             HelperTextOnFocus="true"
                                             Clearable="true"
                                             Typo="Typo.subtitle2"
                                             MaxItems="@(_leaveStatusList != null ? _leaveStatusList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">                         
                             <MudDatePicker @ref="_startDatePicker"
                                           Label="Start Date" Editable="true"
                                           @bind-Date="_selectedStartDate"
                                           Margin="Margin.Dense" Color="Color.Primary"
                                           HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" AutoClose="true"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy"
                                           Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _startDatePicker.ClearAsync())">Clear</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _selectedStartDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Color="Color.Primary" OnClick="@(() => _startDatePicker.CloseAsync())">OK</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">                          
                            <MudDatePicker @ref="_resumeDatePicker"
                                           Label="End Date" Editable="true"
                                           @bind-Date="_selectedResumeDate"
                                           Margin="Margin.Dense" Color="Color.Primary"
                                           HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" AutoClose="true"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy"
                                           Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _resumeDatePicker.ClearAsync())">Clear</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _selectedResumeDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Color="Color.Primary" OnClick="@(() => _resumeDatePicker.CloseAsync())">OK</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Class="mud-width-full mt-0" Spacing="2">
                 <MudButton Variant="Variant.Filled"
                            Color="Color.Primary"
                            Style="background-color:#004165;"
                            Class="mt-1 px-4"
                            FullWidth="false"
                            Size="Size.Small"
                            StartIcon="@Icons.Material.Filled.PersonSearch"
                            OnClick="@(() => BeginSearchLeaveTask(true))"
                            Disabled="@_isRunning">
                    @if (_isRunning)
                    {
                        <span>Searching...</span>
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
                    }
                    else
                    {
                        <span>Search</span>
                    }
                </MudButton>
                <MudButton Variant="Variant.Filled"
                           ButtonType="ButtonType.Reset"
                           Color="Color.Warning"
                           FullWidth="false"
                           Class="mt-1 px-4"
                           Size="Size.Small"
                           Disabled="@_isRunning"
                           StartIcon="@Icons.Material.Filled.Refresh"
                           OnClick="HandleRefreshButton">
                    Reset
                </MudButton>
            </MudStack>

            <MudAppBar Class="rounded-t-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                <MudText Typo="Typo.button" HtmlTag="h3" Class="text-white">LEAVE REQUISITION LIST</MudText>
                <MudSpacer />
                <MudMenu Dense Variant="Variant.Text" hidden Size="Size.Small" Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu">
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Dark" Label="Apply New Leave" OnClick="ApplyLeave" />
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.ImportExport" IconColor="Color.Dark" Label="Export Grid Data to Excel" />
                 </MudMenu>
            </MudAppBar>
            <MudPaper Elevation="5" Square="true" Class="w-100 mb-3">
                 <MudDataGrid T="LeaveRequestResultDTO" Items="@_leaveRequestList" Hover="true" Striped="true" Class="leave-grid"
                    Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                    QuickFilter="@_quickFilter" Hideable="true" PageSize="5"
                    EditTrigger="DataGridEditTrigger.Manual" ReadOnly="false" EditMode="DataGridEditMode.Form"
                    EditDialogOptions="new DialogOptions 
                    { 
                        MaxWidth = MaxWidth.Small, 
                        FullWidth = true,
                        BackdropClick = false,
                        CloseOnEscapeKey = false
                    }"
                    StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                    TableLayout="TableLayout.Fixed" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true">
                    <ToolBarContent>
                        <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                            <MudTextField @bind-Value="_searchString" Placeholder="Enter search string" Adornment="Adornment.Start"
                                        Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                        AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                            </MudTextField>
                        </MudPaper>
                        <MudSpacer />
                        <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                            <MudSwitch @bind-Value="_enableFilter" ThumbIcon="@(_enableFilter==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(_enableFilter==true ? Color.Success : Color.Error)">Custom Filter</MudSwitch>
                            <MudPaper Class="ms-3" Elevation="0">
                                 <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" title="Add new leave request" OnClick="ApplyLeave" />
                            </MudPaper>
                        </MudPaper>
                    </ToolBarContent>
                    <Columns>
                         <PropertyColumn Property="x => x.LeaveRequestId" Title="Leave Request No." Class="col-LeaveRequestId" 
                             StickyLeft="true" Editable="false">
                            <CellTemplate Context="row">
                                <MudChip T="long" 
                                    Size=Size.Small 
                                    Color="Color.Primary" 
                                    Label="true" 
                                    Class="fw-bold" 
                                    Style="font-size: 14px;"
                                    OnClick="@(()=>OpenLeaveRequest(row.Item))">
                                    @row.Item.LeaveRequestId
                                </MudChip>
                            </CellTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.LeaveType" Hidden Editable="false">
                             <EditTemplate>
                                 @* Empty to prevent rendering *@
                             </EditTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.LeaveTypeDesc" Title="Leave Type" Class="col-LeaveTypeDesc" Editable="false">
                             <CellTemplate>
                                 @context.Item.LeaveTypeDesc
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LeaveEmpNo" Title="Employee No." Class="col-LeaveEmpNo" Editable="false">
                            <CellTemplate>
                                @context.Item.LeaveEmpNo
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LeaveEmpName" Title="Employee Name" Class="col-LeaveEmpName" Editable="false">
                            <CellTemplate>
                                @context.Item.LeaveEmpName
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.DepartmentFullName" Title="Department" Class="col-DepartmentFullName" Editable="false">
                            <CellTemplate>
                                @context.Item.DepartmentFullName
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LeaveStartDate" Title="Leave Start Date" Class="col-LeaveStartDate" Editable="false">
                            <CellTemplate>
                                @context.Item.LeaveStartDate.ToString("dd-MMM-yyyy")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.StartDayModeDesc" Title="Start Day Mode" Class="col-StartDayModeDesc" Editable="false">
                            <CellTemplate>
                                @context.Item.StartDayModeDesc
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LeaveResumeDate" Title="Leave Resume Date" Class="col-LeaveResumeDate" Editable="false">
                            <CellTemplate>
                                @context.Item.LeaveResumeDate.ToString("dd-MMM-yyyy")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.EndDayModeDesc" Title="Resume Day Mode" Class="col-EndDayModeDesc" Editable="false">
                            <CellTemplate>
                                @context.Item.EndDayModeDesc
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LeaveBalance" Title="Leave Balance" Class="col-LeaveBalance" Editable="false">
                            <CellTemplate>
                                @context.Item.LeaveBalance.ToString("N2")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LeaveDuration" Title="Duration" Class="col-LeaveDuration" Editable="false">
                            <CellTemplate>
                                @context.Item.LeaveDuration.ToString("N2")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.NoOfHolidays" Title="No. of Holidays" Class="col-NoOfHolidays" Editable="false">
                            <CellTemplate>
                                @context.Item.NoOfHolidays
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.NoOfWeekends" Title="No. of Weekends" Class="col-NoOfWeekends" Editable="false">
                            <CellTemplate>
                                @context.Item.NoOfWeekends
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.StatusDesc" Title="Current Status" Class="col-StatusDesc" Editable="false">
                            <CellTemplate Context="row">
                                <MudChip T="string" Size=Size.Small Variant="Variant.Filled" 
                                    Color="@(row.Item.StatusHandlingCode == "Open" ? Color.Info
                                     : row.Item.StatusHandlingCode == "Closed" ? Color.Tertiary 
                                     : row.Item.StatusHandlingCode == "Rejected" ? Color.Error
                                     : row.Item.StatusHandlingCode == "Cancelled" ? Color.Warning
                                     : row.Item.StatusHandlingCode == "Approved" ? Color.Success
                                     : Color.Surface)">
                                    @row.Item.StatusDesc
                                </MudChip>
                            </CellTemplate>
                        </PropertyColumn>
                        <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                             <CellTemplate Context="row">
                                 <MudIconButton title="View leave information"
                                                Class="show-btn fa-icon-btn"
                                                Style="color:#004165;"
                                                OnClick="@row.Actions.StartEditingItemAsync">
                                     <ChildContent>
                                        <i class="fas fa-info-circle fa-lg"></i>
                                     </ChildContent>
                                 </MudIconButton>
                                 <MudIconButton Color="Color.Error" hidden title="Delete department record" Class="fa-icon-btn" OnClick="() => ConfirmDelete(row.Item)">
                                     <ChildContent>
                                         <i class="fas fa-trash-alt fa-1x"></i>
                                     </ChildContent>
                                 </MudIconButton>
                             </CellTemplate>
                         </TemplateColumn>
                    </Columns>
                     <NoRecordsContent>
                         <div class="no-data-box">
                             <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                             <span>No data found</span>
                         </div>
                     </NoRecordsContent>
                     <PagerContent>
                         <MudDataGridPager T="LeaveRequestResultDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                     </PagerContent>
                </MudDataGrid>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </MudStack>
    </div>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}