@page "/TimeAttendance/leaveentitlement"

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
     <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Manage Leave Entitlement</MudText>
     <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserName</MudText>
</MudStack>

<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
        @if (_hasValidationError && _validationMessages.Any())
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
            <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
            <ul style="margin:0; padding-left:20px;">
                @foreach (var msg in _validationMessages)
                {
                    <li>
                        <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                        </li>
                }
            </ul>
        </MudAlert>
    }

    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }

    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
            CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />

        <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="0" Wrap="Wrap.NoWrap" Class="pe-2 mb-0">
            <MudPaper Elevation="0" Square="true" Class="w-100">
                <MudGrid Spacing="5">
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudNumericField HideSpinButtons="true"
                                             @bind-Value="_empNo"
                                             Label="Employee No."
                                             Variant="Variant.Text"
                                             HelperText="Enter numeric value only"
                                             HelperTextOnFocus="true"
                                             MaxLength="10"
                                             Clearable="true"
                                             Immediate="true"
                                             Min="0" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudAutocomplete @bind-Value="_selectedDepartment"
                                             SearchFunc="SearchDepartment!"
                                             Variant="Variant.Text"
                                             Label="Department"
                                             Margin="Margin.Dense"
                                             Placeholder="Please Select"
                                             HelperText="Type a key to search for department"
                                             HelperTextOnFocus="true"
                                             Clearable="true" Typo="Typo.subtitle2"
                                             MaxItems="@(_departmentList != null ? _departmentList.Count : 10)"
                                             Modal="true" />
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudDatePicker Label="Start Date" Editable="true"
                                           @bind-Date="_selectedStartDate"
                                           Margin="Margin.Dense" Color="Color.Surface"
                                           HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" AutoClose="true"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy"
                                           Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _startDatePicker.ClearAsync())">Clear</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _selectedStartDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Color="Color.Primary" OnClick="@(() => _startDatePicker.CloseAsync())">OK</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6" sm="3">
                        <MudPaper Elevation="0" Class="p-0 w-100">
                            <MudDatePicker Label="End Date" Editable="true"
                                           @bind-Date="_selectedEndDate"
                                           Margin="Margin.Dense" Color="Color.Surface"
                                           HelperText="Enter date in dd/MM/yyyy format" HelperTextOnFocus="true" AutoClose="true"
                                           Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy" Placeholder="dd/MM/yyyy"
                                           Variant="Variant.Text">
                                <PickerActions Context="dateContext">
                                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _endDatePicker.ClearAsync())">Clear</MudButton>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(async () => await this.InvokeAsync(() => _selectedEndDate = DateTime.Today))">Today</MudButton>
                                    <MudButton Color="Color.Primary" OnClick="@(() => _endDatePicker.CloseAsync())">OK</MudButton>
                                </PickerActions>
                            </MudDatePicker>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Start" Class="mud-width-full mt-0" Spacing="2">
                 <MudButton Variant="Variant.Filled"
                            Color="Color.Primary"
                            Style="background-color:#004165;"
                            Class="mt-1 px-4"
                            FullWidth="false"
                            Size="Size.Small"
                            StartIcon="@Icons.Material.Filled.PersonSearch"
                            OnClick="BeginLoadEntitlementTask"
                            Disabled="@_isRunning">
                     @if (_isRunning)
                    {
                        <span>Searching...</span>
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
                    }
                    else
                    {
                        <span>Search</span>
                    }
                </MudButton>
                <MudButton Variant="Variant.Filled"
                           ButtonType="ButtonType.Reset"
                           Color="Color.Warning"
                           FullWidth="false"
                           Class="mt-1 px-4"
                           Size="Size.Small"
                           Disabled="@_isRunning"
                           StartIcon="@Icons.Material.Filled.Refresh"
                           OnClick="HandleRefreshButton">
                    Reset
                </MudButton>
            </MudStack>

            <MudAppBar Class="rounded-t-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                <MudText Typo="Typo.button" HtmlTag="h3" Class="text-white">LEAVE ENTITLEMENT LIST</MudText>
                <MudSpacer />
                <MudMenu Dense Variant="Variant.Text" Size="Size.Small" Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu">
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Dark" Label="Apply New Entitlement" OnClick="AddEntitlementAsync" />
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.ImportExport" IconColor="Color.Dark" Label="Export Grid Data to Excel" hidden />
                 </MudMenu>
            </MudAppBar>

            <MudPaper Elevation="5" Square="true" Class="w-100 mb-3">
                 <MudDataGrid T="LeaveEntitlementDTO" Items="@_leaveEntitlementList" Hover="true" Striped="true" 
                    Class="entitlement-grid"
                    Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                    QuickFilter="@_quickFilter" Hideable="true" PageSize="5" ReadOnly="true"
                    TableLayout="TableLayout.Fixed" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true">
                    <ToolBarContent>
                        <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Class="mud-width-full"
                            Breakpoint="Breakpoint.Xs">
                             <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                                 <MudTextField @bind-Value="_searchString" Placeholder="Enter search string" Adornment="Adornment.Start"
                                    Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                                 </MudTextField>
                             </MudPaper>
                             <MudSpacer />
                             <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                 <MudSwitch @bind-Value="_enableFilter" ThumbIcon="@(_enableFilter==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(_enableFilter==true ? Color.Success : Color.Error)">Custom Filter</MudSwitch>
                                 <MudPaper Class="ms-3" Elevation="0">
                                     <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" title="Add new entitlement" OnClick="AddEntitlementAsync" />
                                 </MudPaper>
                             </MudPaper>
                         </MudStack>
                    </ToolBarContent>
                    <Columns>
                         <PropertyColumn Property="x => x.LeaveEntitlementId" Hidden Editable="false">
                             <EditTemplate>
                                 @* Empty to prevent rendering *@
                             </EditTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.EmployeeNo" Hidden Editable="false">
                             <EditTemplate>
                                 @* Empty to prevent rendering *@
                             </EditTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.EmployeeName" Title="Department" Class="col-EmployeeName" Editable="false" StickyLeft="true">
                             <CellTemplate Context="row">
                                 <MudChip T="string" Size=Size.Small Color="Color.Info" Label="true" Class="fw-bold" Style="font-size: 14px;">
                                     @row.Item.EmployeeName
                                </MudChip>
                            </CellTemplate>
                            <EditTemplate>
                                <MudAutocomplete @bind-Value="context.Item.EmployeeName"
                                                 SearchFunc="SearchEmployee!"
                                                 Variant="Variant.Text"
                                                 Label="Employee Name"
                                                 Margin="Margin.Normal"
                                                 Dense="true"
                                                 Placeholder="Please Select"
                                                 HelperText="Type a key to search for employee"
                                                 HelperTextOnFocus="true"
                                                 Clearable="true" Typo="Typo.subtitle2"
                                                 MaxItems="@(_employeeList != null ? _employeeList.Count : 10)"
                                                 Modal="true" />
                            </EditTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.DepartmentFullName" Title="Department" Class="col-DepartmentFullName" Editable="false">
                             <CellTemplate>
                                 @context.Item.DepartmentFullName
                            </CellTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.ALEntitlementCount" Title="Leave Entitlement" Class="col-ALEntitlementCount">
                             <EditTemplate Context="row">
                                 <MudNumericField @bind-Value="row.Item.ALEntitlementCount" Label="Leave Entitlement"
                                        For="@(() => row.Item.ALEntitlementCount)"
                                        Variant="Variant.Outlined"
                                        HelperText="Enter leave entitlement" HelperTextOnFocus="true" MaxLength="3" Min="0" Max="100"
                                        Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                             </EditTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.LeaveUOMDesc" Title="Leave UOM" Class="col-LeaveUOMDesc">
                             <EditTemplate>
                                 <MudSelect @bind-Value="context.Item.LeaveUOM" Variant="Variant.Text" Margin="Margin.Dense" Label="Leave UOM"
                                    Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                    HelperText="Filter by employment status" HelperTextOnFocus="true" Clearable="false" Immediate="true" Typo="Typo.subtitle2">
                                     @foreach (var unit in _uomList)
                                    {
                                        <MudSelectItem Value="unit.UDCCode">@unit.UDCDesc1</MudSelectItem>
                                    }
                                </MudSelect>
                            </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.ALRenewalTypeDesc" Title="Leave Renewal" Class="col-ALRenewalTypeDesc">
                            <EditTemplate>
                                <MudSelect @bind-Value="context.Item.ALRenewalType" Variant="Variant.Text" Margin="Margin.Dense" Label="Leave Renewal"
                                           Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                           HelperText="Select renewal type" HelperTextOnFocus="true" Clearable="false" Immediate="true" Typo="Typo.subtitle2">
                                    @foreach (var renewal in _renewalList)
                                    {
                                        <MudSelectItem Value="renewal.UDCCode">@renewal.UDCDesc1</MudSelectItem>
                                    }
                                </MudSelect>
                            </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.SLEntitlementCount" Title="Sick Leave Entitlement" Class="col-SLEntitlementCount">
                             <EditTemplate Context="row">
                                 <MudNumericField @bind-Value="row.Item.SLEntitlementCount" Label="Sick Leave Entitlement"
                                                  For="@(() => row.Item.SLEntitlementCount)"
                                                  Variant="Variant.Outlined"
                                                  HelperText="Enter sick leave entitlement" HelperTextOnFocus="true" MaxLength="3" Min="0" Max="100"
                                                  Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                             </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.SickLeaveUOMDesc" Title="Sick Leave UOM" Class="col-SickLeaveUOMDesc">
                            <EditTemplate>
                                <MudSelect @bind-Value="context.Item.SickLeaveUOM" Variant="Variant.Text" Margin="Margin.Dense" Label="Sick Leave UOM"
                                           Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                           HelperText="Filter by employment status" HelperTextOnFocus="true" Clearable="false" Immediate="true" Typo="Typo.subtitle2">
                                    @foreach (var unit in _uomList)
                                    {
                                        <MudSelectItem Value="unit.UDCCode">@unit.UDCDesc1</MudSelectItem>
                                    }
                                </MudSelect>
                            </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.SLRenewalTypeDesc" Title="Sick Leave Renewal" Class="col-SLRenewalTypeDesc">
                            <EditTemplate>
                                <MudSelect @bind-Value="context.Item.SLRenewalType" Variant="Variant.Text" Margin="Margin.Dense" Label="Sick Leave Renewal"
                                           Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                           HelperText="Select renewal type" HelperTextOnFocus="true" Clearable="false" Immediate="true" Typo="Typo.subtitle2">
                                    @foreach (var renewal in _renewalList)
                                    {
                                        <MudSelectItem Value="renewal.UDCCode">@renewal.UDCDesc1</MudSelectItem>
                                    }
                                </MudSelect>
                            </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.EffectiveDate" Title="Effective Date" Class="col-EffectiveDate">
                            <CellTemplate>
                                @context.Item.EffectiveDate?.ToString("dd-MMM-yyyy")
                            </CellTemplate>
                            <EditTemplate Context="row">
                                <MudDatePicker Color="Color.Info" Editable="true"
                                                @bind-Date="row.Item.EffectiveDate" 
                                                Label="Effective Date"
                                                For="@(() => row.Item.EffectiveDate)"
                                                Required RequiredError="Effective Date is required"
                                                MinDate="DateTime.Today"
                                                Clearable="true"
                                                Placeholder="Select Date" />
                                </EditTemplate>
                            </PropertyColumn>
                         <PropertyColumn Property="x => x.LeaveBalance" Title="Leave Balance" Class="col-LeaveBalance">
                            <EditTemplate Context="row">
                                <MudNumericField @bind-Value="row.Item.LeaveBalance" Label="Leave Balance"
                                    For="@(() => row.Item.LeaveBalance)"
                                    Variant="Variant.Outlined"
                                    HelperText="Enter leave balance" HelperTextOnFocus="true" MaxLength="4" Min="0" Max="9999"
                                    Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                            </EditTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.SLBalance" Title="Sick Leave Balance" Class="col-SLBalance">
                            <EditTemplate Context="row">
                                <MudNumericField @bind-Value="row.Item.SLBalance" Label="Sick Leave Balance"
                                                 For="@(() => row.Item.SLBalance)"
                                                 Variant="Variant.Outlined"
                                                 HelperText="Enter leave balance" HelperTextOnFocus="true" MaxLength="4" Min="0" Max="9999"
                                                 Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                            </EditTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.DILBalance" Title="Sick Leave Balance" Class="col-DILBalance" Editable="false" hidden>
                            <EditTemplate Context="row">
                                <MudNumericField @bind-Value="row.Item.DILBalance" Label="DIL Balance"
                                                 For="@(() => row.Item.DILBalance)"
                                                 Variant="Variant.Outlined"
                                                 HelperText="Enter leave balance" HelperTextOnFocus="true" MaxLength="4" Min="0" Max="9999"
                                                 Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                            </EditTemplate>
                        </PropertyColumn>
                         <PropertyColumn Property="x => x.CreatedUserID" Title="Created By" Class="col-CreatedUserID" Editable="false">
                            <CellTemplate>
                                @context.Item.CreatedUserID
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.CreatedDate" Title="Created Date" Class="col-CreatedDate" Editable="false">
                            <CellTemplate Context="row">
                                @row.Item.CreatedDate?.ToString("dd-MMM-yyyy")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LastUpdatedUserID" Title="Last Updated By" Class="col-LastUpdatedUserID" Editable="false">
                            <CellTemplate Context="row">
                                @row.Item.LastUpdatedUserID
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LastUpdatedDate" Title="Last Updated Date" Class="col-LastUpdatedDate" Editable="false">
                            <CellTemplate Context="row">
                                @row.Item.LastUpdatedDate?.ToString("dd-MMM-yyyy")
                            </CellTemplate>
                        </PropertyColumn>
                        <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                            <CellTemplate Context="row">
                                <MudIconButton title="Edit leave entitlement"
                                    Color="Color.Info"
                                    Icon="@Icons.Material.Rounded.Edit"
                                    OnClick="() => EditEntitlementAsync(row.Item)">
                                    <ChildContent>
                                        <i class="fas fa-edit fa-sm"></i>
                                    </ChildContent>
                                </MudIconButton>
                                <MudIconButton Color="Color.Error" 
                                    title="Delete leeve entitlement"
                                    Icon="@Icons.Material.Rounded.DeleteForever"
                                    OnClick="() => ConfirmDelete(row.Item)">
                                    <ChildContent>
                                        <i class="fas fa-trash-alt fa-sm"></i>
                                    </ChildContent>
                                </MudIconButton>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <NoRecordsContent>
                         <div class="no-data-box">
                             <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                             <span>No data found</span>
                         </div>
                     </NoRecordsContent>
                     <PagerContent>
                         <MudDataGridPager T="LeaveEntitlementDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                     </PagerContent>
                </MudDataGrid>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                             Selector="#mainPanel"
                             VisibleCssClass="visible absolute"
                             HiddenCssClass="hidden absolute">
                 <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </MudStack>
    </div>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}