@page "/TimeAttendance/mastershiftroster"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-0 ps-4 fw-bolder" Style="color: #004165;">Shift Roster Detail</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    <EditForm EditContext="@_editContext" @ref="_editForm"
        OnValidSubmit="HandleValidSubmit" 
        OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                            </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }

        <MudPaper class="paper-header w-100 px-4" Elevation="0">          
            <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight" MaxItems="4" Class="mud-primary-text" />
            <MudSpacer></MudSpacer>
            <MudPaper Elevation="0">
                @if (ActionType == ActionTypes.Edit.ToString() || 
                    ActionType == ActionTypes.View.ToString())
                {
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit"
                               Size="Size.Small" Color="Color.Info" Disabled="@(_isEditMode)" OnClick="HandleEditButton">
                        Edit
                    </MudButton>
                }

                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" ButtonType="ButtonType.Submit" Class="ml-1"
                           Size="Size.Small" Color="Color.Success" Disabled="@(!_saveBtnEnabled)">
                    Save
                </MudButton>

                @if (ActionType == ActionTypes.Edit.ToString() || 
                    ActionType == ActionTypes.View.ToString())
                {
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Undo" Class="ml-1"
                               Size="Size.Small" Color="Color.Warning" Disabled="@(!_isEditMode)" OnClick="HandleUndoButton">
                        Undo
                    </MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" Class="ml-1" ButtonType="ButtonType.Reset"
                           Size="Size.Small" Color="Color.Tertiary" Disabled="@(_isEditMode)" OnClick="HandleRefreshButton">
                        Refresh
                    </MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Class="ml-1"
                               Size="Size.Small" Color="Color.Error" Disabled="@_isEditMode" OnClick="ShowDeleteDialog">
                        Delete
                    </MudButton>
                }

                @if (ActionType == ActionTypes.Add.ToString())
                {
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Class="ml-1" OnClick="ShowCancelDialog"
                               Size="Size.Small" Color="Color.Default">
                        Cancel
                    </MudButton>
                }
            </MudPaper>
        </MudPaper>

        <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">                  
            <MudPaper Elevation="5" Square="true" Class="w-100 mt-0 ps-4">
                <MudGrid>
                    <MudItem xs="12" sm="2">
                        <MudTextField @bind-Value="_shiftPattern.ShiftPatternCode" Label="Shift Roster Code"
                                For="@(() => _shiftPattern.ShiftPatternCode)"
                                HelperText="Max. text input is 20 chars." Variant="Variant.Text" HelperTextOnFocus="true"
                                Disabled="@(!(ActionType == ActionTypes.Add.ToString()))"
                                Required="true" RequiredError="Shift Roster Code is required"
                                Clearable="@_isClearable" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                    </MudItem>
                    <MudItem xs="12" sm="5">
                        <MudTextField @bind-Value="_shiftPattern.ShiftPatternDescription" Label="Description"
                                For="@(() => _shiftPattern.ShiftPatternDescription)"
                                HelperText="Type a brief description about the shift roster" Variant="Variant.Text" HelperTextOnFocus="true"
                                Counter="300" MaxLength="300" Disabled="@_isDisabled"
                                Clearable="@_isClearable" Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                    </MudItem>                    
                    <MudItem xs="12" sm="2">
                        <MudPaper Elevation="0" Class="d-flex align-content-end">
                            <MudSwitch @bind-Value="_shiftPattern.IsActive" Color="Color.Info" UncheckedColor="Color.Default"
                                       Label="Is Active?" LabelPlacement="Placement.Start" Disabled="@_isDisabled" />
                        </MudPaper>                        
                    </MudItem>
                </MudGrid>

                <MudExpansionPanels Elevation="0" MultiExpansion="true" Class="mt-0">
                    <!-- SHIFT TIMING SCHEDULE PANEL -->
                    <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                        <TitleContent>
                            <div class="d-flex">
                                <MudIcon Icon="fas fa-calendar" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                                <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Shift Timing Schedule</strong></MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudPaper Elevation="5" Square="true" Class="w-100">
                                <div class="shift-roster-grid">
                                    <MudDataGrid T="ShiftTimingDTO" Items="@_shiftPattern.ShiftTimingList" Hover="true" Striped="true" 
                                                 Filterable="_enableShiftTimingFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                                                 QuickFilter="@_shiftTimingFilter" Hideable="true" PageSize="5"
                                                 EditTrigger="DataGridEditTrigger.OnRowClick" ReadOnly="@(!_allowGridEdit)" EditMode="DataGridEditMode.Cell"
                                                 StartedEditingItem="@StartedEditingShiftTimingItem"
                                                 CommittedItemChanges="@CommittedShiftTimingItemChanges"
                                                 TableClass="fixed-table" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true"
                                                 @ref="_timingGrid">
                                        <ToolBarContent>
                                            <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0" Width="220px">
                                                <MudSelect T="string"
                                                           @bind-Value="_selectedTimingForSchedule"
                                                           Label="Shift Timing"
                                                           Variant="Variant.Outlined"
                                                           Margin="Margin.Dense"
                                                           Placeholder="Please Select"
                                                           AdornmentIcon="@Icons.Material.Filled.ArrowDropDown"
                                                           AdornmentColor="Color.Default"
                                                           Immediate="true"
                                                           Dense="true"
                                                           Disabled="@(!_allowGridEdit)"
                                                           Typo="Typo.subtitle2">
                                                    @foreach (var shift in _shiftMasterList)
                                                    {
                                                        <MudSelectItem Value="shift.ShiftCode">@($"{shift.ShiftCode} - {shift.ShiftDescription}")</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </MudPaper>
                                            <MudPaper Class="ms-3" Elevation="0">
                                                <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Variant="Variant.Filled"
                                                    Disabled="@(!_allowGridEdit)"
                                                    Color="Color.Info" Size="Size.Small" OnClick="AddTimingToSchedule" />
                                            </MudPaper>
                                            <MudSpacer />
                                            <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                                <MudSwitch @bind-Value="_enableShiftTimingFilter" Color="Color.Success" UncheckedColor="Color.Default" Style="font-size: 14px;"
                                                           Disabled="false"
                                                           Label="Enable Custom Filter" LabelPlacement="Placement.Start" />
                                            </MudPaper>
                                        </ToolBarContent>
                                        <Columns>
                                            <PropertyColumn Property="x => x.ShiftTimingId" Hidden Editable="false">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                            </PropertyColumn>
                                            @* <PropertyColumn Property="x => x.ShiftPatternCode" Title="Shift Pattern Code" Class="col-shift-pattern" /> *@
                                             <PropertyColumn Property="x => x.ShiftPatternCode" Hidden Editable="false">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                             </PropertyColumn>
                                            <PropertyColumn Property="x => x.ShiftDescription" Title="Shift Timing" Class="col-shift-timing" Editable="false">
                                                 <CellTemplate Context="row">
                                                     <MudChip T="string" Size=Size.Small Variant="Variant.Filled" Color="Color.Secondary">
                                                         @row.Item.ShiftDescription
                                                    </MudChip>
                                                </CellTemplate>
                                            </PropertyColumn>
                                             <PropertyColumn Property="x => x.ArrivalFrom" Title="Arrival From" Class="col-shift-time">                                                 
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.ArrivalFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.ArrivalTo" Title="Arrival To" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.ArrivalTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.DepartFrom" Title="Depart From" Class="col-shift-time">
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.DepartFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.DepartTo" Title="Depart To" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.DepartTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RArrivalFrom" Title="Arrival From (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RArrivalFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RArrivalTo" Title="Arrival To (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RArrivalTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RDepartFrom" Title="Depart From (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RDepartFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RDepartTo" Title="Depart To (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RDepartTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.CreatedByFullName" Hidden Editable="false" Class="col-created-by">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                             </PropertyColumn>
                                             <PropertyColumn Property="x => x.CreatedDate" Title="Created Date" Class="col-created-date" Editable="false">
                                                <CellTemplate Context="row">
                                                     @row.Item.CreatedDate?.ToString("dd-MMM-yyyy h:mm tt")
                                                </CellTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.LastUpdateByFullName" Hidden Editable="false" Class="col-updated-by">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                             </PropertyColumn>
                                             <PropertyColumn Property="x => x.LastUpdateDate" Title="Last Updated Date" Class="col-updated-date" Editable="false" Hidden="true">
                                                 <CellTemplate Context="row">
                                                     @row.Item.LastUpdateDate?.ToString("dd-MMM-yyyy h:mm tt")
                                                </CellTemplate>
                                            </PropertyColumn>
                                            <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                                                <EditTemplate Context="row">
                                                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete"
                                                        Color="Color.Error" title="Delete shift timing schedule"
                                                        OnClick="@(() => DeleteShiftTiming(row.Item))" />
                                                </EditTemplate>
                                            </TemplateColumn>
                                        </Columns>
                                        <NoRecordsContent>
                                            <div class="no-data-box">
                                                <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                                <span>No data found</span>
                                            </div>
                                        </NoRecordsContent>
                                        <PagerContent>
                                            <MudDataGridPager T="ShiftTimingDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                                        </PagerContent>
                                    </MudDataGrid>
                                </div>
                            </MudPaper>
                        </ChildContent>
                    </MudExpansionPanel>

                    <!-- SHIFT TIMING SEQUENCE PANEL -->
                    <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                        <TitleContent>
                            <div class="d-flex">
                                <MudIcon Icon="fas fa-clock" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                                <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Shift Timing Sequence</strong></MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudPaper Elevation="5" Square="true" Class="w-50 mb-4">
                                <div class="shift-roster-grid">
                                    <MudDataGrid T="ShiftPointerDTO" Items="@_shiftPattern.ShiftPointerList" Hover="true" Striped="true" 
                                                 Filterable="_enableShiftPointerFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                                                 Hideable="true" PageSize="5"
                                                 EditTrigger="DataGridEditTrigger.OnRowClick" ReadOnly="@(!_allowGridEdit)" EditMode="DataGridEditMode.Cell"
                                                 StartedEditingItem="@StartedEditingShiftPointerItem"
                                                 CommittedItemChanges="@CommittedShiftTimingItemChanges"
                                                 TableClass="fixed-table" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true"
                                                 @ref="_pointerGrid">
                                        <ToolBarContent>
                                            <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0" Width="220px">
                                                <MudSelect T="string"
                                                           @bind-Value="_selectedTimingForSequence"
                                                           Label="Shift Timing"
                                                           Variant="Variant.Outlined"
                                                           Margin="Margin.Dense"
                                                           Placeholder="Please Select"
                                                           AdornmentIcon="@Icons.Material.Filled.ArrowDropDown"
                                                           AdornmentColor="Color.Default"
                                                           Immediate="true"
                                                           Dense="true"
                                                           Disabled="@(!_allowGridEdit)"
                                                           Typo="Typo.subtitle2">
                                                    @foreach (var shift in _shiftMasterPointerList)
                                                    {
                                                        <MudSelectItem Value="shift.ShiftCode">@($"{shift.ShiftCode} - {shift.ShiftDescription}")</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </MudPaper>
                                            <MudPaper Class="ms-3" Elevation="0">
                                                <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Variant="Variant.Filled"
                                                               Disabled="@(!_allowGridEdit)"
                                                    Color="Color.Info" Size="Size.Small" OnClick="AddPointerToSequence" />
                                            </MudPaper>
                                            <MudSpacer />
                                            <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                                <MudSwitch @bind-Value="_enableShiftPointerFilter" Color="Color.Success" UncheckedColor="Color.Default" Style="font-size: 14px;"
                                                        Disabled="false"
                                                        Label="Enable Custom Filter" LabelPlacement="Placement.Start" />
                                            </MudPaper>
                                        </ToolBarContent>
                                        <Columns>
                                            <PropertyColumn Property="x => x.ShiftPointerId" Hidden Editable="false">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.ShiftPointer" Title="Shift Pointer" Class="col-shift-pointer" Editable="false">
                                                 <CellTemplate Context="row">
                                                    <MudAvatar Size="Size.Small" Color="Color.Tertiary">@row.Item.ShiftPointer.ToString("N0")</MudAvatar>
                                                </CellTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.ShiftDescription" Title="Shift Timing" Class="col-shift-timing">
                                                <EditTemplate Context="row">
                                                     <MudSelect @bind-Value="row.Item.ShiftCode" Variant="Variant.Outlined" Margin="Margin.Dense" 
                                                        Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                                        Immediate="true" Typo="Typo.subtitle2">
                                                         @foreach (var shift in _shiftMasterPointerList)
                                                        {
                                                            <MudSelectItem Value="shift.ShiftCode">@shift.ShiftDescription</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <TemplateColumn CellClass="d-flex justify-end">
                                                <EditTemplate Context="row">
                                                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete"
                                                                   Color="Color.Error" title="Delete shift timing sequence"
                                                                   OnClick="@(() => DeleteShiftSequence(row.Item))" />
                                                </EditTemplate>
                                            </TemplateColumn>
                                        </Columns>
                                        <NoRecordsContent>
                                            <div class="no-data-box">
                                                <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                                <span>No data found</span>
                                            </div>
                                        </NoRecordsContent>
                                        <PagerContent>
                                            <MudDataGridPager T="ShiftPointerDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                                        </PagerContent>
                                    </MudDataGrid>
                                </div>                                
                            </MudPaper>
                        </ChildContent>                        
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>

            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </div>
    </EditForm>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}
