@page "/TimeAttendance/mastershiftroster"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-0 ps-4 fw-bolder" Style="color: #004165;">Shift Roster Detail</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    <EditForm EditContext="@_editContext" @ref="_editForm"
        OnValidSubmit="HandleValidSubmit" 
        OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                            </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }

        <MudPaper class="paper-header w-100 px-4" Elevation="0">          
            <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" 
                Class="mud-width-full"
                StretchItems="StretchItems.End" Breakpoint="Breakpoint.Xs">
                <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight" 
                    MaxItems="4" Class="mud-primary-text" />
                @* <MudSpacer /> *@
                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexEnd" Spacing="2">
                    @if (ActionType == ActionTypes.Edit.ToString() || ActionType == ActionTypes.View.ToString())
                    {
                        <MudButton Variant="Variant.Filled" 
                            StartIcon="@Icons.Material.Filled.Edit"
                            Size="Size.Small" 
                            Color="Color.Primary"
                            Style="background-color:#004165;"
                            Disabled="@(_isEditMode)" 
                            OnClick="HandleEditButton">
                            Edit
                        </MudButton>
                    }

                    <MudButton Variant="Variant.Filled" 
                        StartIcon="@Icons.Material.Filled.Save"
                        ButtonType="ButtonType.Submit" 
                        Size="Size.Small"
                        Color="Color.Success"
                        Disabled="@(!_saveBtnEnabled)">
                        Save
                    </MudButton>

                    @if (ActionType == ActionTypes.Edit.ToString() || ActionType == ActionTypes.View.ToString())
                    {
                        <MudButton Variant="Variant.Filled" 
                            StartIcon="@Icons.Material.Filled.Undo" 
                            Size="Size.Small" Color="Color.Warning" 
                            Disabled="@(!_isEditMode)" 
                            OnClick="HandleUndoButton">
                            Undo
                        </MudButton>

                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" 
                            ButtonType="ButtonType.Reset"
                            Size="Size.Small"
                                   Color="Color.Primary"
                            Style="background-color:#004165;"
                            Disabled="@(_isEditMode)" 
                            OnClick="HandleRefreshButton">
                            Refresh
                        </MudButton>
                        
                        <MudButton Variant="Variant.Filled" 
                            StartIcon="@Icons.Material.Filled.Delete" 
                            Size="Size.Small" Color="Color.Error" 
                            Disabled="@_isEditMode" 
                            OnClick="ShowDeleteDialog">
                            Delete
                        </MudButton>
                    }

                    @if (ActionType == ActionTypes.Add.ToString())
                    {
                        <MudButton Variant="Variant.Filled" 
                            StartIcon="@Icons.Material.Filled.Cancel" 
                            OnClick="ShowCancelDialog"
                            Size="Size.Small" 
                            Color="Color.Surface">
                            Cancel
                        </MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>

        <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">                  
            <MudPaper Elevation="5" Square="true" Class="w-100 mt-0 ps-4">
                <MudGrid Spacing="4">
                    <MudItem xs="12" sm="2">
                        <MudTextField @bind-Value="_shiftPattern.ShiftPatternCode" 
                                Label="Shift Roster Code"
                                For="@(() => _shiftPattern.ShiftPatternCode)"
                                Variant="Variant.Outlined" 
                                Disabled="@(!(ActionType == ActionTypes.Add.ToString()))"
                                Required="true" 
                                RequiredError="Shift Roster Code is required"
                                Clearable="@_isClearable" 
                                Immediate="true" 
                                Margin="Margin.Dense" 
                                HelperTextOnFocus="true"
                                HelperText="Enter code for shift roster. Max. input is 20 chars."
                                Typo="Typo.subtitle2" />
                    </MudItem>

                    <MudItem xs="12" sm="5">
                        <MudTextField @bind-Value="_shiftPattern.ShiftPatternDescription" 
                            Label="Description"
                            For="@(() => _shiftPattern.ShiftPatternDescription)"
                            Variant="Variant.Outlined" 
                            MaxLength="300" Disabled="@_isDisabled"
                            Clearable="@_isClearable" Immediate="true"
                            HelperTextOnFocus="true"
                            HelperText="Type a brief description about the shift roster"
                            Margin="Margin.Dense" Typo="Typo.subtitle2" />
                    </MudItem>                    
                    <MudItem xs="12" sm="3">
                        <MudPaper Elevation="0" Class="d-flex align-content-end mt-2">
                            <MudSwitch @bind-Value="_shiftPattern.IsActive" 
                                Color="Color.Success" UncheckedColor="Color.Default" 
                                Label="Is Active?" LabelPlacement="Placement.Start" Disabled="@_isDisabled" />
                        </MudPaper>                        
                    </MudItem>
                </MudGrid>

                <MudExpansionPanels Elevation="0" MultiExpansion="true" Class="m-0 p-0">
                    <!-- SHIFT TIMING SCHEDULE PANEL -->
                    <MudExpansionPanel Class="pt-0 mt-0" Dense Gutters Expanded>
                        <TitleContent>
                            <div class="d-flex">
                                <MudIcon Icon="fas fa-calendar" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                                <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Shift Timing Schedule</strong></MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudPaper Elevation="5" Square="true" Class="w-100">
                                <div class="shift-roster-grid">
                                    <MudDataGrid T="ShiftTimingDTO" Items="@_shiftPattern.ShiftTimingList" Hover="true" Striped="true" 
                                                 Filterable="_enableShiftTimingFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                                                 QuickFilter="@_shiftTimingFilter" Hideable="true" PageSize="5"
                                                 EditTrigger="DataGridEditTrigger.OnRowClick" ReadOnly="@(!_allowGridEdit)" EditMode="DataGridEditMode.Cell"
                                                 StartedEditingItem="@StartedEditingShiftTimingItem"
                                                 CommittedItemChanges="@CommittedShiftTimingItemChanges"
                                                 TableClass="fixed-table" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true"
                                                 @ref="_timingGrid">
                                        <ToolBarContent>
                                            <MudStack Row="true" AlignItems="AlignItems.Start"
                                                Justify="Justify.FlexStart" Breakpoint="Breakpoint.Xs">

                                                <MudPaper Elevation="0" Width="220px">
                                                    <MudSelect T="string"
                                                               @bind-Value="_selectedTimingForSchedule"
                                                               Label="Shift Timing"
                                                               Variant="Variant.Outlined"
                                                               Margin="Margin.Dense"
                                                               Placeholder="Please Select"
                                                               AdornmentIcon="@Icons.Material.Filled.ArrowDropDown"
                                                               AdornmentColor="Color.Default"
                                                               Immediate="true"
                                                               Dense="true"
                                                               Disabled="@(!_allowGridEdit)"
                                                               Typo="Typo.subtitle2">
                                                        @foreach (var shift in _shiftMasterList)
                                                        {
                                                            <MudSelectItem Value="shift.ShiftCode">@($"{shift.ShiftCode} - {shift.ShiftDescription}")</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                </MudPaper>
                                                <MudPaper Class="mt-2 ms-1" Elevation="0">
                                                    <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Variant="Variant.Filled"
                                                        Disabled="@(!_allowGridEdit)"
                                                        Color="Color.Info" Size="Size.Small" OnClick="AddTimingToSchedule" />
                                                </MudPaper>
                                                <MudSpacer />
                                                <MudSwitch @bind-Value="_enableShiftTimingFilter" Color="Color.Success" UncheckedColor="Color.Default" Style="font-size: 14px;"
                                                           Disabled="false"
                                                           Label="Enable Custom Filter" LabelPlacement="Placement.Start" />
                                            </MudStack>
                                            
                                            @* <MudSpacer />
                                            <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                                
                                            </MudPaper> *@
                                        </ToolBarContent>
                                        <Columns>
                                            <PropertyColumn Property="x => x.ShiftTimingId" Hidden Editable="false">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                            </PropertyColumn>
                                            @* <PropertyColumn Property="x => x.ShiftPatternCode" Title="Shift Pattern Code" Class="col-shift-pattern" /> *@
                                             <PropertyColumn Property="x => x.ShiftPatternCode" Hidden Editable="false">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                             </PropertyColumn>
                                            <PropertyColumn Property="x => x.ShiftDescription" Title="Shift Timing" Class="col-shift-timing" Editable="false">
                                                 <CellTemplate Context="row">
                                                     <MudChip T="string" Size=Size.Small Variant="Variant.Outlined" Color="Color.Secondary">
                                                         @row.Item.ShiftDescription
                                                    </MudChip>
                                                </CellTemplate>
                                            </PropertyColumn>
                                             <PropertyColumn Property="x => x.ArrivalFrom" Title="Arrival From" Class="col-shift-time">                                                 
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.ArrivalFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.ArrivalTo" Title="Arrival To" Class="col-shift-time">                                                
                                                @* <CellTemplate Context="row">
                                                    <MudTextField T="string" InputType="InputType.Text" AdornmentColor="Color.Error" >
                                                        @row.Item.ArrivalTo
                                                    </MudTextField>
                                                </CellTemplate> *@
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.ArrivalTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.DepartFrom" Title="Depart From" Class="col-shift-time">
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.DepartFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.DepartTo" Title="Depart To" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.DepartTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RArrivalFrom" Title="Arrival From (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RArrivalFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RArrivalTo" Title="Arrival To (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                     <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RArrivalTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RDepartFrom" Title="Depart From (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RDepartFrom" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.RDepartTo" Title="Depart To (Ramadan)" Class="col-shift-time">                                                
                                                <EditTemplate Context="row">
                                                    <MudTimePicker Color="Color.Info" AmPm="true" TimeFormat="h:mm tt" @bind-Time="row.Item.RDepartTo" />
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.CreatedByFullName" Hidden Editable="false" Class="col-created-by">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                             </PropertyColumn>
                                             <PropertyColumn Property="x => x.CreatedDate" Title="Created Date" Class="col-created-date" Editable="false">
                                                <CellTemplate Context="row">
                                                     @row.Item.CreatedDate?.ToString("dd-MMM-yyyy h:mm tt")
                                                </CellTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.LastUpdateByFullName" Hidden Editable="false" Class="col-updated-by">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                             </PropertyColumn>
                                             <PropertyColumn Property="x => x.LastUpdateDate" Title="Last Updated Date" Class="col-updated-date" Editable="false" Hidden="true">
                                                 <CellTemplate Context="row">
                                                     @row.Item.LastUpdateDate?.ToString("dd-MMM-yyyy h:mm tt")
                                                </CellTemplate>
                                            </PropertyColumn>
                                            <TemplateColumn Hidden="@(!_allowGridEdit)" CellClass="d-flex justify-end">
                                                <EditTemplate Context="row">
                                                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete"
                                                        Color="Color.Error" title="Delete shift timing schedule" 
                                                        OnClick="@(() => DeleteShiftTiming(row.Item))" />
                                                </EditTemplate>
                                            </TemplateColumn>
                                        </Columns>
                                        <NoRecordsContent>
                                            <div class="no-data-box">
                                                <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                                <span>No data found</span>
                                            </div>
                                        </NoRecordsContent>
                                        <PagerContent>
                                            <MudDataGridPager T="ShiftTimingDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                                        </PagerContent>
                                    </MudDataGrid>
                                </div>
                            </MudPaper>
                        </ChildContent>
                    </MudExpansionPanel>

                    <!-- SHIFT TIMING SEQUENCE PANEL -->
                    <MudExpansionPanel Class="pt-0 mt-0 mb-5" Dense Gutters Expanded>
                        <TitleContent>
                            <div class="d-flex">
                                <MudIcon Icon="fas fa-clock" Style="color: #004165;" class="mr-3" Size=Size.Small></MudIcon>
                                <MudText Typo="Typo.subtitle1" Style="text-decoration: underline; color: #004165;"><strong>Shift Timing Sequence</strong></MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudPaper Elevation="5" Square="true" Class="w-100 mb-5">
                                <div class="shift-roster-grid">
                                    <MudDataGrid T="ShiftPointerDTO" Items="@_shiftPattern.ShiftPointerList" Hover="true" Striped="true" 
                                                 Filterable="_enableShiftPointerFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                                                 Hideable="true" PageSize="5"
                                                 EditTrigger="DataGridEditTrigger.OnRowClick" ReadOnly="@(!_allowGridEdit)" EditMode="DataGridEditMode.Cell"
                                                 StartedEditingItem="@StartedEditingShiftPointerItem"
                                                 CommittedItemChanges="@CommittedShiftTimingItemChanges"
                                                 TableClass="fixed-table" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true"
                                                 @ref="_pointerGrid">
                                        <ToolBarContent>
                                            <MudStack Row="true" AlignItems="AlignItems.Start" Class="p-0"
                                                Justify="Justify.SpaceBetween" Breakpoint="Breakpoint.Xs">
                                                <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0" Width="220px">
                                                    <MudSelect T="string"
                                                           @bind-Value="_selectedTimingForSequence"
                                                           Label="Shift Timing"
                                                           Variant="Variant.Outlined"
                                                           Margin="Margin.Dense"
                                                           Placeholder="Please Select"
                                                           AdornmentIcon="@Icons.Material.Filled.ArrowDropDown"
                                                           AdornmentColor="Color.Default"
                                                           Immediate="true"
                                                           Dense="true"
                                                           Disabled="@(!_allowGridEdit)"
                                                           Typo="Typo.subtitle2">
                                                        @foreach (var shift in _shiftMasterPointerList)
                                                        {
                                                            <MudSelectItem Value="shift.ShiftCode">@($"{shift.ShiftCode} - {shift.ShiftDescription}")</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                    <MudPaper Class="ms-3 mt-2" Elevation="0">
                                                        <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Variant="Variant.Filled"
                                                                   Disabled="@(!_allowGridEdit)"
                                                                   Color="Color.Info" Size="Size.Small" OnClick="AddPointerToSequence" />
                                                    </MudPaper>
                                                </MudPaper>
                                                <MudPaper Class="mt-2" Elevation="0">
                                                    <MudSwitch @bind-Value="_enableShiftPointerFilter" Color="Color.Success" 
                                                        UncheckedColor="Color.Default" Style="font-size: 14px;"
                                                        Disabled="false"
                                                        Label="Enable Custom Filter" LabelPlacement="Placement.Start" />
                                                </MudPaper>                                                
                                            </MudStack>
                                        </ToolBarContent>
                                        <Columns>
                                            <PropertyColumn Property="x => x.ShiftPointerId" Hidden Editable="false">
                                                 <EditTemplate Context="row">
                                                     @* Empty to prevent rendering *@
                                                 </EditTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.ShiftPointer" Title="Shift Pointer" Class="col-shift-pointer" Editable="false">
                                                 <CellTemplate Context="row">
                                                    <MudAvatar Size="Size.Small" Color="Color.Info">@row.Item.ShiftPointer.ToString("N0")</MudAvatar>
                                                </CellTemplate>
                                            </PropertyColumn>
                                            <PropertyColumn Property="x => x.ShiftDescription" Title="Shift Timing" Class="col-shift-timing">
                                                <EditTemplate Context="row">
                                                     <MudSelect @bind-Value="row.Item.ShiftCode" Variant="Variant.Outlined" Margin="Margin.Dense" 
                                                        Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                                        Immediate="true" Typo="Typo.subtitle2">
                                                         @foreach (var shift in _shiftMasterPointerList)
                                                        {
                                                            <MudSelectItem Value="shift.ShiftCode">@shift.ShiftDescription</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                </EditTemplate>
                                            </PropertyColumn>
                                            <TemplateColumn Hidden="@(!_allowGridEdit)" CellClass="d-flex justify-end">
                                                <EditTemplate Context="row">
                                                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete"
                                                                   Color="Color.Error" title="Delete shift timing sequence"
                                                                   OnClick="@(() => DeleteShiftSequence(row.Item))" />
                                                </EditTemplate>
                                            </TemplateColumn>
                                        </Columns>
                                        <NoRecordsContent>
                                            <div class="no-data-box">
                                                <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                                <span>No data found</span>
                                            </div>
                                        </NoRecordsContent>
                                        <PagerContent>
                                            <MudDataGridPager T="ShiftPointerDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                                        </PagerContent>
                                    </MudDataGrid>
                                </div>                                
                            </MudPaper>
                        </ChildContent>                        
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>

            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </div>
    </EditForm>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}
