@page "/TimeAttendance/shiftrostersearch"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Shift Roster Master</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }
    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
            CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />
        <MudStack AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.NoWrap">
            <MudAppBar Class="rounded-t-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                <MudText Typo="Typo.button" HtmlTag="h3" Class="text-white">SHIFT ROSTER LIST</MudText>
                <MudSpacer />
                <MudMenu Dense Variant="Variant.Text" Size="Size.Small" Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu">
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Dark" Label="Add New Shift Roster" OnClick="AddShiftRoster" />
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.ImportExport" IconColor="Color.Dark" Label="Manage Employee Shift Roster" OnClick="OpenEmployeeShiftRoster" />
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.ManageHistory" IconColor="Color.Dark" Label="View Shift Roster Changes" OnClick="OpenShiftRosterChangeHistory" />
                 </MudMenu>
            </MudAppBar>
            <MudPaper Elevation="5" Square="true" Class="w-100 mb-2">
                 <MudDataGrid T="ShiftPatternMasterDTO" Items="@_shiftRosterList" Hover="true" Striped="true" Class="shift-roster-grid"
                    Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                    QuickFilter="@_quickFilter" Hideable="true" PageSize="5"
                    EditTrigger="DataGridEditTrigger.Manual" ReadOnly="false" EditMode="DataGridEditMode.Form"
                    EditDialogOptions="new DialogOptions 
                    { 
                        MaxWidth = MaxWidth.Small, 
                        FullWidth = true,
                        BackdropClick = false,
                        CloseOnEscapeKey = false
                    }"
                    StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                    TableLayout="TableLayout.Fixed" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true">
                    <ToolBarContent>
                         <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                             <MudTextField @bind-Value="_searchString" Placeholder="Enter search string" Adornment="Adornment.Start"
                                           Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                           AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                             </MudTextField>
                         </MudPaper>
                         <MudSpacer />
                         <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                             <MudSwitch @bind-Value="_enableFilter" ThumbIcon="@(_enableFilter==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(_enableFilter==true ? Color.Success : Color.Error)">Custom Filter</MudSwitch>
                             <MudPaper Class="ms-3" Elevation="0">
                                 <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" title="Add new shift roster" OnClick="AddShiftRoster" />
                             </MudPaper>
                         </MudPaper>
                    </ToolBarContent>
                    <Columns>
                         <PropertyColumn Property="x => x.ShiftPatternId" Hidden Editable="false">
                             <EditTemplate>
                                 @* Empty to prevent rendering *@
                             </EditTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.ShiftPatternCode" Title="Shift Roster Code" Class="col-shift-pattern" StickyLeft="true">
                             <CellTemplate Context="row">
                                 <MudChip T="string" Size=Size.Small Color="Color.Primary" Label="true" Class="fw-bold" Style="font-size: 14px;">
                                     @row.Item.ShiftPatternCode
                                </MudChip>
                            </CellTemplate>
                            <EditTemplate>
                                <MudTextField @bind-Value="context.Item.ShiftPatternCode" Label="Shift Pattern Code" HelperText="Maximum input is 20 chars."
                                Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="20" MaxLength="20"
                                Required RequiredError="Shift Pattern Code is required"
                                Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                            </EditTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.ShiftPatternDescription" Title="Shift Description" Class="col-shift-description">
                             <EditTemplate>
                                 <MudTextField @bind-Value="context.Item.ShiftPatternDescription" Label="Shift Description" HelperText="Maximum input is 300 chars."
                                    Variant="Variant.Outlined" HelperTextOnFocus="true" Counter="300" MaxLength="300"
                                    Immediate="true" Margin="Margin.Dense" Typo="Typo.subtitle2" />
                             </EditTemplate>
                         </PropertyColumn>
                         <PropertyColumn Property="x => x.IsActiveDesc" Title="Is Active?" Class="col-active" Required="false">
                             <CellTemplate Context="row">
                                 <MudChip T="string" Size=Size.Small Color="@(row.Item.IsActiveDesc == "Yes" ? Color.Success : Color.Error)">
                                     @row.Item.IsActiveDesc
                                </MudChip>
                            </CellTemplate>
                            <EditTemplate>
                                <MudSwitch @bind-Value="context.Item.IsActive" Color="Color.Success" UncheckedColor="Color.Error" Label="Is Active?" />
                            </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.IsFlexiTimeDesc" Title="Is Flexitime?" Class="col-flexitime" Required="false">
                            <CellTemplate Context="row">
                                <MudChip T="string" Size=Size.Small Color="@(row.Item.IsFlexiTimeDesc == "Yes" ? Color.Success : Color.Error)">
                                    @row.Item.IsFlexiTimeDesc
                                </MudChip>
                            </CellTemplate>
                            <EditTemplate>
                                <MudSwitch @bind-Value="context.Item.IsFlexiTime" Color="Color.Success" UncheckedColor="Color.Error" Label="Is Flexitime?" />
                            </EditTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.CreatedByFullName" Title="Created By" Class="col-created-by" Editable="false">
                            <CellTemplate>
                                @context.Item.CreatedByFullName
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.CreatedDate" Title="Created Date" Class="col-created-date" Editable="false">
                            <CellTemplate>
                                @context.Item.CreatedDate?.ToString("dd-MMM-yyyy hh:mm tt")
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LastUpdatedByFullName" Title="Updated By" Class="col-updated-by" Editable="false">
                            <CellTemplate>
                                @context.Item.LastUpdatedByFullName
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.LastUpdateDate" Title="Updated Date" Class="col-updated-date" Editable="false">
                            <CellTemplate>
                                @context.Item.LastUpdateDate?.ToString("dd-MMM-yyyy hh:mm tt")
                            </CellTemplate>
                        </PropertyColumn>      
                        <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                            <CellTemplate Context="row">
                                <MudIconButton Color="Color.Default" title="View shift roster details" Class="show-btn fa-icon-btn"
                                               OnClick="() => GetShiftRosterDetail(row.Item)">
                                    <ChildContent>
                                        <i class="fas fa-eye fa-1x"></i>
                                    </ChildContent>
                                </MudIconButton>
                                <MudIconButton Color="Color.Error" title="Delete shift roster record" Class="fa-icon-btn" OnClick="() => ConfirmDelete(row.Item)">
                                    <ChildContent>
                                        <i class="fas fa-trash-alt fa-1x"></i>
                                    </ChildContent>
                                </MudIconButton>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <NoRecordsContent>
                         <div class="no-data-box">
                             <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                             <span>No data found</span>
                         </div>
                    </NoRecordsContent>
                    <PagerContent>
                         <MudDataGridPager T="ShiftPatternMasterDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                    </PagerContent>
                </MudDataGrid>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </MudStack>
    </div>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
    </div>
}
