@page "/TimeAttendance/rosterchangesearch"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Shift Roster Change History</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }
    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
                        CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />
        <MudStack AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.NoWrap">
            <MudAppBar Class="rounded-t-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                <MudText Typo="Typo.button" HtmlTag="h3" Class="text-white">EMPLOYEE ROSTER LIST</MudText>
                <MudSpacer />
               @*  <MudMenu Dense Variant="Variant.Text" Size="Size.Small" Color="Color.Inherit" Icon="@Icons.Material.Filled.Menu">
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Dark" Label="Add New Shift Roster" OnClick="AddShiftRoster" />
                     <MudMenuItem ForceLoad Icon="@Icons.Material.Filled.ImportExport" IconColor="Color.Dark" Label="Manage Employee Shift Roster" OnClick="OpenEmployeeShiftRoster" />
                 </MudMenu> *@
             </MudAppBar>
             <MudPaper Elevation="5" Square="true" Class="w-100 mb-2">
                <MudDataGrid T="ShiftPatternChangeDTO" Items="@_shiftRosterChangeList" Hover="true" Striped="true" Class="shift-roster-grid"
                    ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true" Bordered="false"
                    Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                    QuickFilter="@_quickFilter" Hideable="true" PageSize="5"
                    EditTrigger="DataGridEditTrigger.Manual" ReadOnly="false" EditMode="DataGridEditMode.Form"
                    EditDialogOptions="new DialogOptions
                    {
                        MaxWidth = MaxWidth.Small,
                        FullWidth = true,
                        BackdropClick = false,
                        CloseOnEscapeKey = false
                    }"
                    StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                    TableLayout="TableLayout.Fixed" Dense="true">
                    <ToolBarContent>
                             <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                                 <MudTextField @bind-Value="_searchString" Placeholder="Enter search string" Adornment="Adornment.Start"
                                               Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                               AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                                 </MudTextField>
                             </MudPaper>
                             <MudSpacer />
                             <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                 <MudSwitch @bind-Value="_enableFilter" ThumbIcon="@(_enableFilter==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(_enableFilter==true ? Color.Success : Color.Error)">Custom Filter</MudSwitch>
                                 <MudPaper Class="ms-3" Elevation="0" hidden>
                                     <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" title="Add new shift roster" OnClick="AddShiftRoster" />
                                 </MudPaper>
                             </MudPaper>
                         </ToolBarContent>
                         <Columns>
                            <PropertyColumn Property="x => x.ShiftPatternChangeId" Hidden Editable="false">
                                 <EditTemplate>
                                     @* Empty to prevent rendering *@
                                 </EditTemplate>
                            </PropertyColumn>
                             <PropertyColumn Property="x => x.EmpNo" Title="Employee No." Class="col-employee-no" StickyLeft="true">
                                 <CellTemplate Context="row">
                                     <MudChip T="string" Size=Size.Small Color="Color.Primary" Label="true" Class="fw-bold" Style="font-size: 14px;">
                                         @row.Item.EmpNo
                                    </MudChip>
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.EmpName" Title="Employee Name" Class="col-employee-name" />
                            <PropertyColumn Property="x => x.DepartmentFullName" Title="Department" Class="col-department" />
                            <PropertyColumn Property="x => x.ShiftPatternCode" Title="Shift Roster Code" Class="col-shift-pattern">
                                 <CellTemplate Context="row">
                                     <MudChip T="string" Size=Size.Small Color="Color.Default" Label="true" Class="fw-bold" Style="font-size: 14px;">
                                         @row.Item.ShiftPatternCode
                                    </MudChip>
                                </CellTemplate>
                                <EditTemplate Context="row">
                                    <MudSelect T="string" Value="row.Item.ShiftPatternCode"
                                               ValueChanged="@((v) => OnShiftRosterChanged(row.Item, v))"
                                               For="@(() => row.Item.ShiftPatternCode)"
                                               Variant="Variant.Outlined" Margin="Margin.Dense"
                                               Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                                              Required RequiredError="Shift Roster is required"
                                                Immediate="true" Typo="Typo.subtitle2">
                                         @foreach (var shift in _shiftPatternList)
                                        {
                                            <MudSelectItem Value="shift.ShiftPatternCode">@shift.ShiftPatternCode</MudSelectItem>
                                        }
                                    </MudSelect>
                                </EditTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.ShiftPointer" Title="Shift Pointer" Class="col-shift-pointer">
                                <EditTemplate Context="row">
                                    <MudSelect @bind-Value="row.Item.ShiftPointer"
                                               For="@(() => row.Item.ShiftPointer)"
                                               Variant="Variant.Outlined" Margin="Margin.Dense"
                                               Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                                              Required RequiredError="Shift Pointer is required"
                                                Immediate="true" Typo="Typo.subtitle2">
                                         @foreach (var pointer in _shiftPointerList)
                                        {
                                            <MudSelectItem Value="pointer.ShiftPointer">@($"{pointer.ShiftPointer} - {pointer.ShiftDescription}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                </EditTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.ChangeTypeDesc" Title="Change Type" Class="col-change-type">
                                <EditTemplate Context="row">
                                    <MudSelect @bind-Value="row.Item.ChangeTypeCode"
                                               For="@(() => row.Item.ChangeTypeCode)"
                                               Variant="Variant.Outlined" Margin="Margin.Dense"
                                               Placeholder="Please Select" AdornmentIcon="@Icons.Material.Filled.ArrowDropDown" AdornmentColor="Color.Default"
                                                              Required RequiredError="Change Type is required"
                                                Immediate="true" Typo="Typo.subtitle2">
                                         @foreach (var ct in _changeTypeList)
                                        {
                                            <MudSelectItem Value="ct.UDCCode">@ct.UDCDesc1</MudSelectItem>
                                        }
                                    </MudSelect>
                                </EditTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.EffectiveDate" Title="Effective Date" Class="col-effective-date">
                                <CellTemplate>
                                    @context.Item.EffectiveDate?.ToString("dd-MMM-yyyy")
                                </CellTemplate>
                                <EditTemplate Context="row">
                                    <MudDatePicker Color="Color.Info" Editable="true"
                                                   @bind-Date="row.Item.EffectiveDate"
                                                   For="@(() => row.Item.EffectiveDate)"
                                                                      Required RequiredError="Effective Date is required"
                                                    MinDate="DateTime.Today"
                                                    Clearable="true"
                                                    Placeholder="Select Date" />
                                 </EditTemplate>
                             </PropertyColumn>
                             <PropertyColumn Property="x => x.EndingDate" Title="Ending Date" Class="col-ending-date">
                                 <CellTemplate>
                                     @context.Item.EndingDate?.ToString("dd-MMM-yyyy")
                                </CellTemplate>
                                <EditTemplate Context="row">
                                    <MudDatePicker Color="Color.Info" Editable="true"
                                                   @bind-Date="row.Item.EndingDate"
                                                   For="@(() => row.Item.EndingDate)"
                                                   MinDate="DateTime.Today"
                                                   Clearable="true"
                                                   Placeholder="Select Date" />
                                </EditTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.CreatedByFullName" Title="Created By" Class="col-created-by" Editable="false">
                                <CellTemplate>
                                    @context.Item.CreatedByFullName
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.CreatedDate" Title="Created Date" Class="col-created-date" Editable="false">
                                <CellTemplate>
                                    @context.Item.CreatedDate?.ToString("dd-MMM-yyyy hh:mm tt")
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.LastUpdatedByFullName" Title="Updated By" Class="col-updated-by" Editable="false">
                                <CellTemplate>
                                    @context.Item.LastUpdatedByFullName
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.LastUpdateDate" Title="Updated Date" Class="col-updated-date" Editable="false">
                                <CellTemplate>
                                    @context.Item.LastUpdateDate?.ToString("dd-MMM-yyyy hh:mm tt")
                                </CellTemplate>
                            </PropertyColumn>
                            <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                                <CellTemplate Context="row">
                                <MudIconButton Color="Color.Tertiary" title="Edit shift roster details"
                                                   Icon="@Icons.Material.Rounded.Edit"
                                                   OnClick="@(() => EditRosterChangeAsync(row.Item))">
                                    </MudIconButton>
                                    <MudIconButton Color="Color.Error" title="Delete shift roster"
                                                   Icon="@Icons.Material.Rounded.DeleteForever"
                                                   OnClick="() => ConfirmDelete(row.Item)">
                                    </MudIconButton>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                        <NoRecordsContent>
                            <div class="no-data-box">
                                <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                <span>No data found</span>
                            </div>
                        </NoRecordsContent>
                        <PagerContent>
                            <MudDataGridPager T="ShiftPatternChangeDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                        </PagerContent>
                    </MudDataGrid>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </MudStack>
    </div>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}
