@page "/TimeAttendance/tnadashboard"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Employee Attendance Dashboard</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    <EditForm EditContext="@_editContext" @ref="_editForm"
        OnValidSubmit="HandleValidSubmit" 
        OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        @if (_hasValidationError && _validationMessages.Any())
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
                <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
                <ul style="margin:0; padding-left:20px;">
                    @foreach (var msg in _validationMessages)
                    {
                        <li>
                            <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                            </li>
                    }
                </ul>
            </MudAlert>
        }

        @if (_showErrorAlert)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                      ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
                @_errorMessage
            </MudAlert>
        }
        <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
            <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
                CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />
            <MudGrid Spacing="0" Class="mt-2">
                <MudItem xs="4" Class="ps-0 pe-4">
                    <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.Start" Spacing="0">
                        <MudStack AlignItems="AlignItems.Baseline">
                            <MudPaper Elevation="0" Class="pa-0 w-100">
                                <MudDatePicker PickerVariant="PickerVariant.Static"
                                    @ref="_picker"
                                    Color="Color.Dark" 
                                    Rounded="true"
                                    Elevation="0"
                                    Orientation="Orientation.Landscape" 
                                    Date="@_selectedDate"
                                    DateChanged="OnDateChanged">
                                </MudDatePicker>
                            </MudPaper>
                        </MudStack>
                        <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0" Wrap="Wrap.Wrap" Class="pa-0 mt-2">
                            <MudChipSet T="string" Class="mt-0" ReadOnly="true" Size="Size.Small">
                                @foreach (var legend in _attendanceLegends)
                                {
                                    <MudChip
                                        Icon="@Icons.Material.Filled.Circle"
                                        IconColor="@GetLegendColor(legend.UDCCode)"
                                        Size="Size.Small"
                                        Variant="Variant.Text">
                                        @legend.UDCDesc1
                                    </MudChip>
                                }
                            </MudChipSet>
                        </MudStack>                    
                    </MudStack>                           
                    <MudPaper Elevation="0">
                        @if (_showAttendanceDetail)
                        {
                            <MudPaper Elevation="0" Square="true" Class="px-2 mt-3">
                                <MudGrid Spacing="0">
                                    <MudItem xs="12" Class="px-2">
                                        <MudText Typo="Typo.subtitle1" Color="Color.Info" Class="fw-bold">
                                            Attendance Details on @($"{_selectedDate!.Value.Day}{GetOrdinal(_selectedDate!.Value.Day)} {_selectedDate!.Value:MMMM yyyy}"):
                                        </MudText>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0" Class="mt-1">
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Shift Timing:</MudText>
                                            <MudText Typo="Typo.caption">@_attendanceSummary.ShiftTiming</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Actual:</MudText>
                                                <MudText Typo="Typo.caption">@_attendanceDetail.ActualTiming</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0" Class="mt-1">
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Regularized:</MudText>
                                                <MudText Typo="Typo.caption">@_attendanceDetail.RegularizedType</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Work Duration:</MudText>
                                            <MudText Typo="Typo.caption">@_attendanceDetail.WorkDurationDesc</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0" Class="mt-1">
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Reason:</MudText>
                                            <MudText Typo="Typo.caption">@_attendanceDetail.RegularizedReason</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Deficit:</MudText>
                                            <MudText Typo="Typo.caption">@_attendanceDetail.DeficitHoursDesc</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0" Class="mt-1">
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Leave Status:</MudText>
                                            <MudText Typo="Typo.caption">@_attendanceDetail.LeaveStatus</MudText>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="6" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Class="fw-bold">Application:</MudText>
                                                <MudText Typo="Typo.caption">@_attendanceDetail.LeaveDetails</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                                <MudGrid Spacing="0" Class="mt-1">
                                    <MudItem xs="12" Class="px-2">
                                        <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="0">
                                            <MudText Typo="Typo.subtitle2" Color="Color.Default" Class="fw-bold">Raw Swipes:</MudText>
                                                <MudText Typo="Typo.caption">@_attendanceDetail.RawSwipes</MudText>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        }
                        <MudPaper Class="mt-0" Elevation="0">
                            <MudButton Variant="Variant.Text" FullWidth="true" EndIcon="@(_showAttendanceDetail ? "fas fa-chevron-up" : "fas fa-chevron-down")" Color="Color.Surface" OnClick="ShowAttendanceDetailToggle">
                                @(_showAttendanceDetail ? "View Less" : "View More")
                            </MudButton>
                        </MudPaper>
                    </MudPaper>
                </MudItem>                
                <MudItem xs="4" Class="px-4">
                    <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart">
                        <MudPaper Elevation="4" Class="p-4 w-100" Square="true">
                            <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.Start">
                                <MudStack>
                                    <MudStack Row="true">
                                        <MudAvatar Size="Size.Large" Color="Color.Success" Variant="Variant.Outlined">
                                            <MudIcon Icon="@Icons.Material.Filled.HourglassTop" Size="Size.Large" />
                                        </MudAvatar>
                                        <MudStack Justify="Justify.Center" Spacing="0" title="Work duration in hh:mm:ss format">
                                            <MudText Typo="Typo.h6">@(!string.IsNullOrEmpty(_attendanceDuration.TotalWorkDuration) ? _attendanceDuration.TotalWorkDuration : "0:00" + " hrs")</MudText>
                                            <MudText Typo="Typo.caption">Spent Today</MudText>
                                        </MudStack>
                                    </MudStack>
                                    <MudStack AlignItems="AlignItems.Start" Spacing="0" Class="pa-1">
                                        <MudText Typo="Typo.body2">0 Absences in this month</MudText>
                                        <MudText Typo="Typo.body2">36.5 Annual Leave available</MudText>
                                    </MudStack>
                                    <MudPaper Elevation="0">
                                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" DropShadow="true">Extra Time</MudButton>
                                    </MudPaper>
                                </MudStack>
                                <MudStack Justify="Justify.Center" Spacing="2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" DropShadow="true">Apply Leave</MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" DropShadow="true">Regularize</MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" DropShadow="true">Apply Outdoor</MudButton>
                                </MudStack>
                            </MudStack>
                        </MudPaper>
                        <MudPaper Elevation="4" Class="p-4 w-100" Square="true">
                            <MudStack>
                                <MudStack Spacing="0" Class="pa-0">
                                    <MudText Typo="Typo.h6">Leave Balance</MudText>
                                    <MudText Typo="Typo.caption">Tap on Leave Type Balance to apply for leave</MudText>
                                </MudStack>
                                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.Center" StretchItems="StretchItems.All">
                                    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" StretchItems="StretchItems.All" Spacing="2">
                                        <MudButton Variant="Variant.Filled" Color="Color.Success" FullWidth="true"
                                            Size="Size.Large" DropShadow="true">
                                            @_attendanceSummary.TotalLeaveBalance.ToString("F2")
                                        </MudButton>
                                        <MudText Typo="Typo.caption">Annual Leave</MudText>
                                    </MudStack>
                                    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" StretchItems="StretchItems.All" Spacing="2">
                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" FullWidth="true"
                                            Size="Size.Large" DropShadow="true">
                                            @_attendanceSummary.TotalSLBalance.ToString("F2")
                                        </MudButton>
                                        <MudText Typo="Typo.caption">Sick Leave</MudText>
                                    </MudStack>
                                    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" StretchItems="StretchItems.All" Spacing="2">
                                        <MudButton Variant="Variant.Filled" Color="Color.Warning" FullWidth="true"
                                            Size="Size.Large" DropShadow="true">
                                            @_attendanceSummary.TotalDILBalance.ToString("F2")
                                        </MudButton>
                                        <MudText Typo="Typo.caption">Day In Lieu</MudText>
                                    </MudStack>
                                </MudStack>
                            </MudStack>
                        </MudPaper>
                        <MudPaper Elevation="4" Class="p-4 w-100" Square="true">
                            <MudStack AlignItems="AlignItems.Start" Justify="Justify.Center" Spacing="3">
                                <MudText Typo="Typo.h6">Raw Swipes</MudText>
                                <MudStack Row="true">
                                    <MudAvatar Size="Size.Medium" Color="Color.Surface" Variant="Variant.Outlined">
                                        <MudIcon Icon="fas fa-clock" Size="Size.Medium" />
                                    </MudAvatar>
                                    <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="0">
                                        <MudText Typo="Typo.caption">First Swipe: @_firstTimeIn</MudText>
                                        <MudText Typo="Typo.caption">Last Swipe: @_lastTimeOut</MudText>
                                    </MudStack>                                
                                </MudStack>   
                                 <MudStack Justify="@Justify.Center" Class="mud-width-full">
                                            <MudChipSet T="string" SelectedColor="Color.Default" Disabled="true"
                                                AllClosable="false"
                                                CheckMark="true" Size="Size.Small"
                                                SelectionMode="SelectionMode.SingleSelection">
                                            @for (var i = 0; i < _attendanceChips.Count; i++)
                                            {
                                                var localIndex = i;
                                                <MudChip Value="@_attendanceChips[localIndex].SwipeTime!.Value.ToString("hh:mm:ss tt")" 
                                                    Variant="Variant.Filled"
                                                    Color="Color.Default" />
                                            }
                                        </MudChipSet>
                                    </MudStack>
                                <MudButton Variant="Variant.Filled" 
                                    Disabled="@_btnProcessing"
                                    EndIcon="@(!_isPunchedIn ? "fas fa-angle-double-down" : "fas fa-angle-double-up")"
                                    FullWidth="true" Color="Color.Info"
                                    ButtonType="ButtonType.Submit"
                                    OnClick="PunchInOrOut">
                                    @if (_btnProcessing)
                                    {
                                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                        <MudText Class="ms-2">Processing</MudText>                                        
                                    }
                                    else
                                    {
                                        <MudText>@(!_isPunchedIn ? "Punch In" : "Punch Out")</MudText>
                                    }
                                </MudButton>
                            </MudStack>
                        </MudPaper>
                    </MudStack>
                </MudItem>
                <MudItem xs="4" Class="px-4">
                    <MudStack>
                        <MudPaper Class="pa-4" Elevation="4" Square="true">
                            <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.Center" StretchItems="StretchItems.All" Spacing="3">
                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.FlexStart" StretchItems="StretchItems.All" Spacing="3">
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Error" Variant="Variant.Filled">
                                                <MudIcon Icon="@Icons.Material.Filled.WorkOff" />
                                            </MudAvatar>
                                            <MudText Typo="Typo.h6" Color="Color.Error">@_attendanceSummary.TotalAbsent</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Error">Absent</MudText>
                                    </MudStack>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.WatchLater" />
                                            </MudAvatar>
                                            <MudText Typo="Typo.h6">@_attendanceSummary.TotalLate</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center">Late</MudText>
                                    </MudStack>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.NetworkCheck" />
                                            </MudAvatar>
                                                <MudText Typo="Typo.h6">@_attendanceSummary.TotalWorkHour.ToString("F2")</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center">Total WH</MudText>
                                    </MudStack>
                                </MudStack>
                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.FlexStart" StretchItems="StretchItems.All" Spacing="3">
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Success" Variant="Variant.Filled">
                                                <MudIcon Icon="@Icons.Material.Filled.TimeToLeave" />
                                            </MudAvatar>
                                            <MudText Typo="Typo.h6" Color="Color.Success">@_attendanceSummary.TotalLeave.ToString("F2")</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Success">On Leave</MudText>
                                    </MudStack>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.Logout" />
                                            </MudAvatar>
                                                <MudText Typo="Typo.h6">@_attendanceSummary.TotalEarlyOut</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center">Early Out</MudText>
                                    </MudStack>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.Today" />
                                            </MudAvatar>
                                            <MudText Typo="Typo.h6">@_attendanceSummary.TotalDaysWorked</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center">Days Worked</MudText>
                                    </MudStack>
                                </MudStack>
                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.FlexStart" StretchItems="StretchItems.All" Spacing="3">
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Warning" Variant="Variant.Filled">
                                                <MudIcon Icon="@Icons.Material.Filled.ViewDay" />
                                            </MudAvatar>
                                                <MudText Typo="Typo.h6" Color="Color.Warning">@_attendanceSummary.TotalHalfDay.ToString("F2")</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Warning">Half Days</MudText>
                                    </MudStack>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                            </MudAvatar>
                                            <MudText Typo="Typo.h6">@_attendanceSummary.TotalDeficitHour.ToString("F2")</MudText>
                                        </MudStack>
                                        <MudText Typo="Typo.caption" Align="Align.Center">Deficit Hours</MudText>
                                    </MudStack>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly" Spacing="1">
                                            <MudAvatar Size="Size.Small" Color="Color.Surface" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.BarChart" />
                                            </MudAvatar>
                                                <MudText Typo="Typo.h6">@_attendanceSummary.AverageWorkHour.ToString("F2")</MudText>
                                        </MudStack>
                                            <MudText Typo="Typo.caption" Align="Align.Center">Avg. WH</MudText>
                                    </MudStack>
                                </MudStack>
                            </MudStack>
                        </MudPaper>
                        <MudPaper Class="pa-4 mud-background-surface" Elevation="4" Square="true">
                            <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart">
                                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" StretchItems="StretchItems.Start" Spacing="5" Class="pa-0">
                                    <!-- Pagination -->
                                        <MudPaper Class="w-100 d-flex justify-content-start" Elevation="0">
                                            <MudPagination Class="pa-0"
                                                   Variant="Variant.Filled"
                                                   Rectangular="false"
                                                   Color="Color.Surface"
                                                   Size="Size.Medium"
                                                   ShowFirstButton="true" ShowLastButton="true"
                                                   Count="@pageCount"
                                                   SelectedChanged="OnPageChanged" />
                                        </MudPaper>  
                                        <MudStack Row="true" AlignItems="AlignItems.End" Justify="Justify.SpaceBetween" Spacing="3" Class="pa-0">
                                            <MudSelect T="int"
                                                        @bind-Value="pageSize"
                                                        Dense="true"
                                                        Variant="Variant.Text"
                                                        Label="Page Size"
                                                        Placeholder="Select size"
                                                        Style="width:75px;"
                                                        Typo="Typo.body2">
                                                <MudSelectItem Value="5">5</MudSelectItem>
                                                <MudSelectItem Value="10">10</MudSelectItem>
                                                <MudSelectItem Value="20">20</MudSelectItem>
                                                <MudSelectItem Value="50">50</MudSelectItem>
                                            </MudSelect>
                                            <MudSelect T="int"
                                                        @bind-Value="_fiscalYear"
                                                        Dense="true"
                                                        Variant="Variant.Text"
                                                        Label="Year"
                                                        Placeholder="Select year"
                                                        AdornmentIcon="@Icons.Material.Filled.CalendarMonth"
                                                        AdornmentColor="Color.Surface"
                                                        Typo="Typo.body2"
                                                       Style="width:70px;"
                                                        SelectedValuesChanged="RefreshHolidays">
                                                <MudSelectItem Value="2024">2024</MudSelectItem>
                                                <MudSelectItem Value="2025">2025</MudSelectItem>
                                                <MudSelectItem Value="2026">2026</MudSelectItem>
                                            </MudSelect>
                                        </MudStack>
                                </MudStack>                            
                                <MudList T="HolidayDTO" Dense="true">
                                    @if (!_holidayList.Any())
                                    {
                                        <MudText Typo="Typo.caption" Color="Color.Secondary">
                                            No public holidays found for the selected year.
                                        </MudText>
                                    }
                                    @foreach (var holiday in PagedHolidays)
                                    {
                                        @* <MudListItem Icon="@Icons.Material.Filled.Event" IconColor="@(holiday.HolidayDate.DayOfWeek is DayOfWeek.Saturday or DayOfWeek.Sunday ? Color.Error: Color.Primary)"> *@
                                        <MudListItem>
                                            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart" StretchItems="StretchItems.End">
                                                <MudStack Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.Center">
                                                    <MudAvatar Color="Color.Info" Variant="Variant.Outlined" Size="Size.Medium">
                                                        @holiday.HolidayDate.ToString("dd")
                                                    </MudAvatar>
                                                    <MudText Typo="Typo.caption">
                                                        @holiday.HolidayDate.ToString("MMM")
                                                    </MudText>
                                                </MudStack>
                                                <MudStack Spacing="1">
                                                    <!-- Holiday Date -->
                                                    @* <MudText Typo="Typo.subtitle2">
                                                        @holiday.HolidayDate.ToString("dd MMM yyyy")
                                                    </MudText> *@

                                                    <!-- Holiday Description -->
                                                    <MudText Typo="Typo.button" Class="fw-600">
                                                        @holiday.HolidayDesc
                                                    </MudText>

                                                    <!-- Day of Week -->
                                                    <MudText Typo="Typo.caption" Color="Color.Surface">
                                                        @holiday.HolidayDate.ToString("dddd")
                                                    </MudText>

                                                </MudStack>
                                            </MudStack>                                        
                                        </MudListItem>
                                    }
                                </MudList>
                            </MudStack>                                            
                        </MudPaper>
                    </MudStack>                
                </MudItem>
            </MudGrid>
            <MudScrollToTop TopOffset="100"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </div>
    </EditForm>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}
