@page "/TimeAttendance/tnadashboard"

<MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Employee Attendance Dashboard</MudText>
<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }
    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudBreadcrumbs Items="@_breadcrumbItems" SeparatorIcon="@Icons.Material.Filled.ChevronRight"
            CollapseIcon="@Icons.Material.Filled.MoreHoriz" MaxItems="4" Class="mud-breadcrumbs" />
        <MudGrid Spacing="0" Class="mt-2">
            <MudItem xs="3" Class="ps-0 pe-3">
                <MudStack AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.NoWrap">
                    <MudPaper Elevation="0" Class="p-0 w-100">
                        <MudDatePicker PickerVariant="PickerVariant.Static" Color="Color.Secondary"
                                       Rounded="true" Elevation="1" Date="@(DateTime.Today)" />
                    </MudPaper>
                </MudStack>
                @* <MudStack Row="true" AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.Wrap">                    
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Error" Size="Size.Small" Color="Color.Transparent">Absent</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Success" Size="Size.Small" Color="Color.Transparent">Present</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Tertiary" Size="Size.Small" Color="Color.Transparent">Leave Applied</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Tertiary" Size="Size.Small" Color="Color.Transparent">Leave Applied</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Tertiary" Size="Size.Small" Color="Color.Transparent">Leave Applied</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Tertiary" Size="Size.Small" Color="Color.Transparent">Leave Applied</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Tertiary" Size="Size.Small" Color="Color.Transparent">Leave Applied</MudChip>
                    <MudChip T="string" Icon="@Icons.Material.Filled.Circle" IconColor="Color.Tertiary" Size="Size.Small" Color="Color.Transparent">Leave Applied</MudChip>
                </MudStack> *@
                <MudStack Row="true" AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.Wrap">
                    <MudChipSet T="string" Class="mt-4" ReadOnly="true">
                        @foreach (var legend in AttendanceLegends)
                        {
                            <MudChip
                                Icon="@Icons.Material.Filled.Circle"
                                IconColor="@GetLegendColor(legend.UDCCode)"
                                Size="Size.Small"
                                Variant="Variant.Text">
                                @legend.UDCDesc1
                            </MudChip>
                        }
                    </MudChipSet>
                </MudStack>
            </MudItem>
            <MudItem xs="5" Class="px-3">
                <MudStack>
                    <MudPaper Class="pa-4" Elevation="4" Square="true">
                        <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.Start">
                            <MudStack>
                                <MudStack Row="true">
                                    <MudAvatar Size="Size.Large" Color="Color.Success" Variant="Variant.Outlined">
                                        <MudIcon Icon="@Icons.Material.Filled.HourglassTop" Size="Size.Large" />
                                    </MudAvatar>
                                    <MudStack Justify="Justify.Center" Spacing="0">
                                        <MudText Typo="Typo.h6">0:00 hrs</MudText>
                                        <MudText Typo="Typo.caption">Spent Today</MudText>
                                    </MudStack>
                                </MudStack>
                                <MudStack AlignItems="AlignItems.Start">
                                    <MudText Typo="Typo.body2">0 Absences in this month</MudText>
                                    <MudText Typo="Typo.body2">36.5 Annual Leave available</MudText>
                                </MudStack>
                                <MudPaper Elevation="0">
                                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" DropShadow="true">Extra Time</MudButton>
                                </MudPaper>
                            </MudStack>
                            <MudStack Justify="Justify.Center" Spacing="2">
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" DropShadow="true">Apply Leave</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" DropShadow="true">Regularize</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" DropShadow="true">Apply Outdoor</MudButton>
                            </MudStack>
                        </MudStack>
                    </MudPaper>
                </MudStack>
            </MudItem>
            <MudItem xs="4" Class="px-3">
                <MudPaper Elevation="0" Class="p-0 w-100">
                </MudPaper>
            </MudItem>
        </MudGrid>
        <MudScrollToTop TopOffset="100"
                        Selector="#mainPanel"
                        VisibleCssClass="visible absolute"
                        HiddenCssClass="hidden absolute">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
        </MudScrollToTop>
    </div>
</MudContainer>