@page "/Workflow/ApprovalDashboard"

<MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Spacing="0">
     <MudText Typo="Typo.subtitle1" Align="Align.Left" Class="pb-1 ps-4 fw-bolder" Style="color: #004165;">Pending Requests Dashboard</MudText>
     <MudText Typo="Typo.subtitle2" Align="Align.Right" Class="pb-1 pe-4 fw-bold text-muted">Welcome, @UserName</MudText>
</MudStack>

<MudContainer MaxWidth="MaxWidth.False" Class="px-4">
        @if (_hasValidationError && _validationMessages.Any())
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Dense="true" Class="mb-2">
            <MudText Typo="Typo.subtitle1"><strong>Please correct the following data entry errors:</strong></MudText>
            <ul style="margin:0; padding-left:20px;">
                @foreach (var msg in _validationMessages)
                {
                    <li>
                        <MudText Typo="Typo.subtitle2" Class="text-white">@msg</MudText>
                        </li>
                }
            </ul>
        </MudAlert>
    }

    @if (_showErrorAlert)
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Left"
                  ShowCloseIcon="true" CloseIconClicked="(() => ShowHideError(false))">
            @_errorMessage
        </MudAlert>
    }

    <div id="mainPanel" class="ma-0 full-height" style="overflow-y: scroll; scrollbar-width: none;">
        <MudBreadcrumbs Items="@_breadcrumbItems" 
            SeparatorIcon="@Icons.Material.Filled.ChevronRight"
            CollapseIcon="@Icons.Material.Filled.MoreHoriz" 
            MaxItems="4" 
            Class="mud-breadcrumbs" />

        <MudStack AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="0" Wrap="Wrap.NoWrap" Class="pe-2 mb-0">
            <MudPaper Elevation="0" Class="p-0 w-100">
                <MudGrid Spacing="3">
                    <MudItem xs="5" sm="3">
                        <MudStack AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.NoWrap">
                            <MudAppBar Class="rounded-l-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                                <MudText Typo="Typo.button" HtmlTag="h3" Class="text-white">Request Types</MudText>
                                <MudSpacer />
                            </MudAppBar>
                            <MudPaper Elevation="5" Class="p-0 w-100">
                                <MudList T="RequestTypeDTO" Dense="true" Elevation="1" SelectionMode="SelectionMode.SingleSelection" Color="Color.Info">
                                    @foreach (var request in _requestTypeList)
                                    {
                                        <MudListItem>
                                            <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.FlexStart" Spacing="3">
                                                <MudIconButton @bind-icon="request.IconName" Size="Size.Small" />

                                                <!-- Request Type -->
                                                 <MudText Typo="Typo.subtitle2" Style="color: #004165;" Class="fw-bold">
                                                    @request.RequestTypeName
                                                </MudText>

                                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                                                    <MudChip T="string" Variant="Variant.Filled" @bind-Text="request.AssignedCountString" hidden="@(request.AssignedCount == 0 ? true : false)" Color="@(request.AssignedCount > 0 ? Color.Info : Color.Transparent)" Size="Size.Small" />
                                                </MudStack>
                                            </MudStack>
                                        </MudListItem>
                                        <MudDivider />
                                    }
                                </MudList>
                            </MudPaper>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="7" sm="9">
                        <MudStack AlignItems="AlignItems.Start" Spacing="0" Wrap="Wrap.NoWrap">
                            <MudAppBar Class="rounded-r-lg mt-3 employee-master-appbar" Fixed="false" Dense="true" Style="background-color: #546E7A">
                                <MudStack Row AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="2" Wrap="Wrap.NoWrap">
                                     <div>
                                         <MudButton Variant="@(_isPendingClicked ? Variant.Filled : Variant.Outlined)"
                                            StartIcon="fas fa-check-circle" Class="px-5"
                                            Color="Color.Info" Size="Size.Small" OnClick="@(() => BeginGetPendingApprovalTask(SearchType.PendingRequest))">
                                             <MudText Typo="Typo.button" HtmlTag="h3">Pending</MudText>
                                         </MudButton>
                                     </div>
                                     <div>
                                         <MudButton Variant="@(_isApprovedClicked ? Variant.Filled : Variant.Outlined)"
                                            StartIcon="fas fa-thumbs-up" Class="px-5"
                                            Color="Color.Success" Size="Size.Small" OnClick="@(() => BeginGetPendingApprovalTask(SearchType.ApprovedRequest))">
                                             <MudText Typo="Typo.button" HtmlTag="h3">Approved</MudText>
                                         </MudButton>
                                     </div>
                                     <div>
                                         <MudButton Variant="@(_isRejectedClicked ? Variant.Filled : Variant.Outlined)"
                                            StartIcon="fas fa-thumbs-down" Class="px-5"
                                            Color="Color.Error" Size="Size.Small" OnClick="@(() => BeginGetPendingApprovalTask(SearchType.RejectedRequest))">
                                             <MudText Typo="Typo.button" HtmlTag="h3">Rejected</MudText>
                                         </MudButton>
                                     </div>
                                     <div>
                                         <MudButton Variant="@(_isOnHoldClicked ? Variant.Filled : Variant.Outlined)"
                                            StartIcon="fas fa-pause" Class="px-5"
                                            Color="Color.Warning" Size="Size.Small" OnClick="@(() => BeginGetPendingApprovalTask(SearchType.OnholdRequest))">
                                             <MudText Typo="Typo.button" HtmlTag="h3">On-hold</MudText>
                                         </MudButton>
                                     </div>
                                </MudStack>
                            </MudAppBar>
                            <MudPaper Elevation="5" Square="true" Class="w-100 mb-3">
                                <MudDataGrid T="ApprovalRequestResultDTO" Items="@_approvalList" Hover="true" Striped="true" Class="leave-grid"
                                    Filterable="_enableFilter" FilterMode="@DataGridFilterMode.ColumnFilterMenu" FilterCaseSensitivity="@DataGridFilterCaseSensitivity.CaseInsensitive"
                                    QuickFilter="@_quickFilter" Hideable="true" PageSize="5"
                                    EditTrigger="DataGridEditTrigger.Manual" ReadOnly="false" EditMode="DataGridEditMode.Form"
                                    EditDialogOptions="new DialogOptions 
                                    { 
                                        MaxWidth = MaxWidth.Small, 
                                        FullWidth = true,
                                        BackdropClick = false,
                                        CloseOnEscapeKey = false
                                    }"
                                    StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                                    TableLayout="TableLayout.Fixed" Bordered="false" Dense="true" ColumnResizeMode="ResizeMode.Column" HorizontalScrollbar="true">
                                    <ToolBarContent>
                                        <MudPaper Class="d-flex justify-content-start m-0 p-0" Elevation="0">
                                            <MudTextField @bind-Value="_searchString" Placeholder="Enter search string" Adornment="Adornment.Start"
                                                          Immediate="true" Style="width:400px;" Typo="Typo.subtitle1"
                                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0">
                                            </MudTextField>
                                        </MudPaper>
                                        <MudSpacer />
                                        <MudPaper Class="d-flex justify-content-end m-0 p-0" Elevation="0">
                                            <MudSwitch @bind-Value="_enableFilter" ThumbIcon="@(_enableFilter==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(_enableFilter==true ? Color.Success : Color.Error)">Custom Filter</MudSwitch>
                                            @* <MudPaper Class="ms-3" Elevation="0">
                                                <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" title="Add new leave request" />
                                            </MudPaper> *@
                                        </MudPaper>
                                    </ToolBarContent>
                                    <Columns>
                                        <PropertyColumn Property="x => x.RequestNo" Title="Request No." Class="col-RequestNo"
                                            StickyLeft="true" Editable="false">
                                            <CellTemplate Context="row">
                                                <MudChip T="long"
                                                         Size=Size.Small
                                                         Color="Color.Info"
                                                         Label="true"
                                                         Class="fw-bold"
                                                         Style="font-size: 14px;"
                                                         OnClick="@(()=>OpenLeaveRequest(row.Item))">
                                                    @row.Item.RequestNo
                                                </MudChip>
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.RequestTypeCode" Hidden Editable="false">
                                             <EditTemplate>
                                                 @* Empty to prevent rendering *@
                                             </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.RequestTypeDesc" Title="Request Type" Class="col-RequestTypeDesc" Editable="false">
                                             <CellTemplate>
                                                 @context.Item.RequestTypeDesc
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.AppliedDate" Title="Applied Date" Class="col-AppliedDate" Editable="false">
                                            <CellTemplate>
                                                @(context.Item.AppliedDate.HasValue ? context.Item.AppliedDate.Value.ToString("dd-MMM-yyyy") : "")
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.RequesterName" Title="Requested By" Class="col-RequesterName" Editable="false">
                                            <CellTemplate>
                                                @context.Item.RequesterName
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.Detail" Title="Details" Class="col-Detail" Editable="false">
                                            <CellTemplate>
                                                @context.Item.Detail
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.CurrentStatus" Title="Requested By" Class="col-CurrentStatus" Editable="false">
                                            <CellTemplate>
                                                @context.Item.CurrentStatus
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.ApproverFullName" Title="Requested By" Class="col-ApproverFullName" Editable="false">
                                            <CellTemplate>
                                                @context.Item.ApproverFullName
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.PendingSince" Title="Pending Since" Class="col-PendingSince" Editable="false">
                                            <CellTemplate>
                                                @context.Item.PendingSince
                                            </CellTemplate>
                                        </PropertyColumn>
                                        <TemplateColumn Hidden="false" CellClass="d-flex justify-end">
                                            <CellTemplate Context="row">
                                                <MudIconButton title="View leave information"
                                                               Class="show-btn fa-icon-btn"
                                                               Color="Color.Info"
                                                               OnClick="@row.Actions.StartEditingItemAsync">
                                                    <ChildContent>
                                                        <i class="fas fa-info fa-lg"></i>
                                                    </ChildContent>
                                                </MudIconButton>
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                    <NoRecordsContent>
                                        <div class="no-data-box">
                                            <MudIcon Icon="@Icons.Material.Filled.Info" Class="no-data-icon" />
                                            <span>No data found</span>
                                        </div>
                                    </NoRecordsContent>
                                    <PagerContent>
                                        <MudDataGridPager T="ApprovalRequestResultDTO" PageSizeOptions="new int[] {5,10,20,50,100,500}" />
                                    </PagerContent>
                                </MudDataGrid>
                            </MudPaper>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <MudScrollToTop TopOffset="100"
                            Style="position: fixed !important;bottom: 20px;left: 50%;transform: translateX(-50%);right: auto !important;z-index: 2000;"
                            Selector="#mainPanel"
                            VisibleCssClass="visible absolute"
                            HiddenCssClass="hidden absolute">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Error">Go to top</MudButton>
            </MudScrollToTop>
        </MudStack>
    </div>
</MudContainer>

<!-- Full-screen overlay -->
@if (_isRunning)
{
    <div class="fullscreen-overlay">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Info" />
        <MudText Typo="Typo.h6" Class="mt-2 text-white">@overlayMessage</MudText>
        </div>
}